{% extends 'base.html' %}

{% load i18n %}
{% load account socialaccount %}
{% load static %}
{% load socialaccount %}
{% load crispy_forms_tags %}

{% block base_title %}Logout{% endblock %}

{% block base_top_nav %}{% endblock %}

{% block content %}

    <div class="bg-danger p-4">
        <p class="text-center text-light h4 m-0">COCOGNITO</p>
        <p class="text-center text-light small">welcome to cocognito user accounts security.</p>
    </div>

    <div class="container text-secondary">
        <div class="row justify-content-center">
            <div class="p-4 col-10 col-sm-7 bg-light mt-5">

                <h1>{% trans "Sign Out" %}</h1>

                <p>{{ request.user.username }}{% trans ' are you sure you want to sign out?' %}</p>

                <form method="post" action="{% url 'account_logout' %}">
                    {% csrf_token %}
                    {% if redirect_field_value %}
                        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
                    {% endif %}
                    <button type="submit" class="btn btn-danger">{% trans 'Proceed' %}</button>
                </form>
            </div>
        </div>
    </div>


{% endblock %}
