Django
django-filter
PyJWT==1.7.1
# djangorestframework
django-seed
django-crispy-forms
django-ckeditor
pillow
django-resized
django-allauth
django-notifications-hq
# django-model-utils
six
django-preventconcurrentlogins
