{% extends 'core/base.html' %}
{% load static %}

{% block base_title %} Relations {% endblock %}
{% block page_heading %} Relations {% endblock %}

{% block content %}

    <div class="mb-4 text-right">
        <a href="{% url 'parent-portal:relation-create' %}" class="btn btn-success">
            Add Relation
        </a>
    </div>

    <div class="card">
        <div class="card-body">
            {% if relation_list %}
                <div class="card">
                    <div class="table-responsive">
                        <table class="table table-hover table-striped">
                            <thead>
                            <tr>
                                <th>ID</th>
                            </tr>
                            </thead>
                            <tbody class="">

                            {% for relation in relation_list %}
                                <tr>
                                    <td>{{ relation.pk }}</td>
                                </tr>
                            {% endfor %}

                            </tbody>
                        </table>
                    </div>
                </div>
            {% else %}
                <div class="">
                    <div class="card border border-danger">
                        <div class="card-header bg-transparent border-danger">
                            <h5 class="my-0 text-danger">
                                <i class="mdi mdi-block-helper mr-3"></i>Quiz Help</h5>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title mt-0">No Relations available</h5>
                            <p class="card-text">There is no quiz available,
                                You can add relation <a href="{% url 'application:quiz_builder' %}">Here</a>.
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>

{% endblock %}
