{% extends 'core/base.html' %}
{% load static %}

{% block base_title %} Relations {% endblock %}

{% block content %}

    <div class="row">
        <div class="col-lg-12">
            <div class="">
                <div class="table-responsive">
                    <table class="table project-list-table table-nowrap table-centered table-borderless">
                        <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Child</th>
                            <th scope="col">Relation</th>
                            <th scope="col">Status</th>
                            <th scope="col">Created</th>
                            <th scope="col">Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% if relation_list %}
                            {% for relation in relation_list %}
                                <tr>
                                    <td>{{ relation.pk }}</td>
                                    <td>{{ relation.child.username }}</td>
                                    <td>{{ relation.relation.student_relation_name }}</td>
                                    <td>
                                        <span class="badge badge-success"><i class="fa fa-check"></i> verified</span>
                                    </td>
                                    <td>{{ relation.created_on }}</td>
                                <td>
                                    <b><a href="#"><i class="fa fa-eye"></i></a></b> |
                                    <b><a href="#"><i class="fa fa-edit"></i></a></b> |
                                    <b><a href="#"><i class="fa fa-chart-line"></i></a></b> |
                                    <b><a href="#"><i class="fa fa-trash text-danger"></i></a></b>
                                </td>
                                </tr>
                            {% endfor %}
                        {% else %}
                        {% endif %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>


{% endblock %}
