{% load static %}
{% load notifications_tags %}

<header id="page-topbar" style="background-color: orangered;">
    <div class="navbar-header" style="background-color: orangered;">
        <div class="d-flex">
            <!-- LOGO -->
            <!-- LOGO -->
            <div class="navbar-brand-box">
                <a href="/" class="logo logo-dark">
                                <span class="logo-sm">
                                    <img src="{% static 'images/cocognito_Logo_symbol.svg' %}" alt="" height="22">
                                </span>
                    <span class="logo-lg">
                                    <img src="{% static 'images/cocognito_Logo_symbol.svg' %}" alt="" height="17">
                                </span>
                </a>

                <a href="/" class="logo logo-light">
                                <span class="logo-sm">
                                    <img src="{% static 'images/new_1.png' %}" alt="" height="22">
                                </span>
                    <span class="logo-lg">
                                    <img src="{% static 'images/new_1.png' %}" alt="" height="19">
                                </span>
                </a>
            </div>

            <button type="button" class="btn btn-sm px-3 font-size-16 d-lg-none header-item waves-effect waves-light"
                    data-toggle="collapse" data-target="#topnav-menu-content">
                <i class="fa fa-fw fa-bars"></i>
            </button>

        </div>

        <div class="d-flex">


            {# FLAGS #}
            <div class="dropdown d-none d-lg-inline-block ml-1">
                <button type="button" class="btn header-item waves-effect"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <img class="" src="{% static 'application/images/flags/us.jpg' %}" alt="Header Language"
                         height="16">
                </button>
                <div class="dropdown-menu dropdown-menu-right">

                    <!-- item-->
                    <a href="javascript:void(0);" class="dropdown-item notify-item">
                        <img src="{% static 'application/images/flags/spain.jpg' %}" alt="user-image" class="mr-1"
                             height="12"> <span class="align-middle">Spanish</span>
                    </a>

                    <!-- item-->
                    <a href="javascript:void(0);" class="dropdown-item notify-item">
                        <img src="{% static 'application/images/flags/germany.jpg' %}" alt="user-image" class="mr-1"
                             height="12"> <span class="align-middle">German</span>
                    </a>

                    <!-- item-->
                    <a href="javascript:void(0);" class="dropdown-item notify-item">
                        <img src="{% static 'application/images/flags/italy.jpg' %}" alt="user-image" class="mr-1"
                             height="12"> <span class="align-middle">Italian</span>
                    </a>

                    <!-- item-->
                    <a href="javascript:void(0);" class="dropdown-item notify-item">
                        <img src="{% static 'application/images/flags/russia.jpg' %}" alt="user-image" class="mr-1"
                             height="12"> <span class="align-middle">Russian</span>
                    </a>
                </div>
            </div>


            {# NOTIFICATIONS #}
            <div class="dropdown d-inline-block">
                <button type="button" class="btn header-item noti-icon waves-effect"
                        id="page-header-notifications-dropdown"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="bx bx-bell bx-tada"></i>
                    <span class="badge badge-dark badge-pill">
{#                        {% live_notify_badge  %}#}
                    </span>
                </button>
                <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right p-0"
                     aria-labelledby="page-header-notifications-dropdown">
                    <div class="p-3">
                        <div class="row align-items-center">
                            <div class="col">
                                <h6 class="m-0"> Notifications </h6>
                            </div>
                            <div class="col-auto">
                                <a href="#" class="small"> View All</a>
                            </div>
                        </div>
                    </div>
                    <div data-simplebar style="max-height: 230px;">
                        <div id="notify_me_now">

                        </div>
                    </div>
                    <div class="p-2 border-top">
                        <a class="btn btn-sm btn-link font-size-14 btn-block text-center"
                           href="/inbox/notifications/mark-all-as-read/">
                            <i class="mdi mdi-arrow-right-circle mr-1"></i> Mark All as Read
                        </a>
                    </div>
                </div>
            </div>

            {#            <div class="dropdown d-inline-block">#}
            {#                <button type="button" class="btn header-item noti-icon right-bar-toggle waves-effect">#}
            {#                    <i class="bx bx-cog bx-spin"></i>#}
            {#                </button>#}
            {#            </div>#}

            {# USER ONLINE #}
            <div class="dropdown d-inline-block">
                <button type="button" class="btn header-item waves-effect" id="page-header-user-dropdown"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <img class="rounded-circle header-profile-user"
                            {% if request.user.profile_set.first.profile %}
                         src="/media/{{ request.user.profile_set.first.profile }}"
                            {% else %}
                         src="{% static 'application/images/users/avatar-7.jpg' %}"
                            {% endif %}
                         alt="Header Avatar">
                    <span class="d-none d-xl-inline-block ml-1">{{ request.user.username }}</span>
                    <i class="mdi mdi-chevron-down d-none d-xl-inline-block"></i>
                </button>
                <div class="dropdown-menu dropdown-menu-right">
                    <a class="dropdown-item" href="{% url 'application:profile_update' %}">
                        <i class="bx bx-user font-size-16 align-middle mr-1"></i> Profile
                    </a>
                    <a class="dropdown-item text-danger" href="{% url 'application:coming_soon' %}">
                        {#                        <span class="badge badge-success float-right">11</span>#}
                        <i class="bx bx-wrench font-size-16 align-middle mr-1"></i> Settings
                    </a>
                    <a class="dropdown-item" href="{% url 'account_email' %}">
                        <i class="bx bx-mail-send font-size-16 align-middle mr-1"></i> Email accounts
                    </a>
                    <a class="dropdown-item" href="{% url 'account_change_password' %}">
                        <i class="bx bx-lock-open font-size-16 align-middle mr-1"></i>Password Change
                    </a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item text-primary" href="{% url 'account_logout' %}">
                        <i class="bx bx-power-off font-size-16 align-middle mr-1"></i> Logout
                    </a>
                </div>
            </div>

        </div>
    </div>
</header>
<div class="topnav">
    <div class="container-fluid">
        <nav class="navbar navbar-light navbar-expand-lg topnav-menu">

            <div class="collapse navbar-collapse" id="topnav-menu-content">
                <ul class="navbar-nav">

                    {#DASHBOARD#}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'application:dashboard' %}">
                            <i class="bx bxs-dashboard mr-2"></i>Dashboard
                        </a>
                    </li>

                    {#QUIZES#}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'application:quizes' %}">
                            <i class="bx bx-clipboard mr-2"></i>Quizzes
                        </a>
                    </li>

                    {#TEAMS#}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'application:teams' %}">
                            <i class="bx bx-sitemap mr-2"></i>Teams
                        </a>
                    </li>

                    {#Learning#}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'application:learning_resources' %}">
                            <i class="bx bx-book mr-2"></i>Learning Resource
                        </a>
                    </li>

                </ul>
            </div>
        </nav>
    </div>
</div>