{% load static %}
<div class="navbar-area">
    <div class="main-responsive-nav">
        <div class="container">
            <div class="main-responsive-menu">
                <div class="logo">
                    <a href="#">
                        <img src="{% static 'images/cocognito_Logo_symbol.png' %}" style="height: 30px;" alt="image">
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="main-navbar">
        <div class="container">
            <nav class="navbar navbar-expand-md navbar-light">
                <a class="navbar-brand" href="#">
                    <img src="{% static 'images/cocognito_Logo_text.png' %}" style="height: 30px;" alt="image">
                </a>
                <div class="collapse navbar-collapse mean-menu" id="navbarSupportedContent">
                    <ul class="navbar-nav">

                        <li class="nav-item">
                            <a href="#quizzes" class="nav-link">
                                Quizzes
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#learnings" class="nav-link">
                                Learning
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#values" class="nav-link">
                                Values
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#team" class="nav-link">
                                Team
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#testimonials" class="nav-link">
                                Contact Us
                            </a>
                        </li>

                    </ul>
                    <div class="others-options d-flex align-items-center">
                        <div class="option-item">
                            <div class="dropdown language-switcher d-inline-block">
                                <button class="dropdown-toggle" type="button" data-bs-toggle="dropdown"
                                        aria-haspopup="true" aria-expanded="false">
                                    <span>Language <i class='bx bx-chevron-down'></i></span>
                                </button>
                                <div class="dropdown-menu">
                                    <a href="#" class="dropdown-item d-flex align-items-center">
                                        <img src="{% static 'website/img/english.png' %}" class="shadow-sm" alt="flag">
                                        <span>English</span>
                                    </a>
                                    <a href="#" class="dropdown-item d-flex align-items-center">
                                        <img src="{% static 'website/img/arab.png' %}" class="shadow-sm" alt="flag">
                                        <span>العربيّة</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="option-item">
                            <a href="/accounts/login/" class="default-btn">Login</a>
                        </div>
                    </div>
                </div>
            </nav>
        </div>
    </div>
    <div class="others-option-for-responsive">
        <div class="container">
            <div class="dot-menu">
                <div class="inner">
                    <div class="circle circle-one"></div>
                    <div class="circle circle-two"></div>
                    <div class="circle circle-three"></div>
                </div>
            </div>
            <div class="container">
                <div class="option-inner">
                    <div class="others-options d-flex align-items-center">
                        <div class="option-item">
                            <div class="dropdown language-switcher d-inline-block">
                                <button class="dropdown-toggle" type="button" data-bs-toggle="dropdown"
                                        aria-haspopup="true" aria-expanded="false">
                                    <span>Language <i class='bx bx-chevron-down'></i></span>
                                </button>
                                <div class="dropdown-menu">
                                    <a href="#" class="dropdown-item d-flex align-items-center">
                                        <img src="{% static 'website/img/english.png' %}" class="shadow-sm" alt="flag">
                                        <span>English</span>
                                    </a>
                                    <a href="#" class="dropdown-item d-flex align-items-center">
                                        <img src="{% static 'website/img/arab.png' %}" class="shadow-sm" alt="flag">
                                        <span>العربيّة</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="option-item">
                            <a href="/accounts/login/" class="default-btn">Login</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
