{% extends 'application/base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block base_title %}Learning_resources {% endblock %}

{% block page_heading %}
    Learning Resources
{% endblock %}



{% block base_links %}
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.22/css/jquery.dataTables.min.css">
{% endblock %}

{% block content %}

    <div class="card">
        <div class="card-body">

            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab" href="#all"><i class="fa fa-list"></i> All</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#available"><i class="fa fa-pen"></i> Available</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-success" data-toggle="tab" href="#completed"><i class="fa fa-check"></i>
                        Completed</a>
                </li>
            </ul>
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="all">
                    {% if all_quizes %}
                        <div class="table-responsive py-4">
                            <table class="table table-hover table-bordered table-striped" id="l_all">
                                <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Questions</th>
                                    <th>Subjects</th>
                                    <th>Starts</th>
                                    <th>Ends</th>
                                </tr>
                                </thead>
                                <tbody class="">

                                {% for quiz in all_quizes %}
                                    <tr>
                                    <td>{{ quiz.title }}</td>
                                    <td>{{ quiz.questions.count }}</td>
                                    <td>
                                        {% for subject in quiz.subjects.all %}
                                            <span href="" class="badge badge-pill badge-soft-primary">{{subject.title}}</span><br>
                                        {% endfor %}
                                    </td>
                                    <td>{{ quiz.start_time }}</td>
                                    <td>{{ quiz.end_time }}</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    {% else %}
                        <div class="p-4">
                            <div class="card border border-warning">
                                <div class="card-header bg-transparent border-warning">
                                    <h5 class="my-0 text-warning">
                                        <i class="mdi mdi-alert-outline mr-3"></i>Learning Resource Help</h5>
                                </div>
                                <div class="card-body">
                                    <h5 class="card-title mt-0">No learning resource available?</h5>
                                    <p class="card-text">{{ request.user.username }}! No learning resources are
                                        available now
                                        because
                                        the admin didn't added yet come back later.</p>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                </div>
                <div class="tab-pane fade show" id="available">
                    {% if available_quizes %}
                        <div class="table-responsive py-4">
                            <table class="table table-hover table-bordered table-striped" id="l_available">
                                <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Questions</th>
                                    <th>Subjects</th>
                                    <th>Starts</th>
                                    <th>Ends</th>
                                    <th>Ends</th>
                                </tr>
                                </thead>
                                <tbody class="">

                                {% for quiz in available_quizes %}
                                    <tr>
                                    <td>{{ quiz.title }}</td>
                                    <td>{{ quiz.questions.count }}</td>
                                    <td>
                                        {% for subject in quiz.subjects.all %}
                                            <span href="" class="badge badge-pill badge-soft-primary">{{subject.title}}</span><br>
                                        {% endfor %}
                                    </td>
                                    <td>{{ quiz.start_time }}</td>
                                    <td>{{ quiz.end_time }}</td>
                                    <td><a href="{% url 'application:learning_resource_start' quiz.pk %}"><i
                                            class="bx bx-task"></i> Try a tutorial</a></td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    {% else %}
                        <div class="p-4">
                            <div class="card border border-warning">
                                <div class="card-header bg-transparent border-warning">
                                    <h5 class="my-0 text-warning">
                                        <i class="mdi mdi-alert-outline mr-3"></i>Learning Resource Help</h5>
                                </div>
                                <div class="card-body">
                                    <h5 class="card-title mt-0">No learning resource available?</h5>
                                    <p class="card-text">{{ request.user.username }}! No learning resources are
                                        available now
                                        because
                                        the admin didn't added yet come back later.</p>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                </div>
                <div class="tab-pane fade show" id="completed">
                    {% if completed_quizes %}
                        <div class="table-responsive py-4">
                            <table class="table table-hover table-bordered table-striped" id="l_result">
                                <thead>
                                <tr>
                                    <th>Quiz</th>
                                    <th>Questions</th>
                                    <th>Subjects</th>
                                    <th>Start</th>
                                    <th>End</th>
                                    <th>total</th>
                                    <th>obtained</th>
                                    <th>Submitted</th>
                                </tr>
                                </thead>
                                <tbody class="">

                                {% for quiz in completed_quizes %}
                                    <tr>
                                    <td>{{ quiz.quiz.title }}</td>
                                    <td>{{ quiz.quiz.questions.count }}</td>
                                    <td>
                                        {% for subject in quiz.quiz.subjects.all %}
                                            <span href="" class="badge badge-pill badge-soft-primary">{{subject.title}}</span><br>
                                        {% endfor %}
                                    </td>
                                    <td>{{ quiz.quiz.start_time }}</td>
                                    <td>{{ quiz.quiz.end_time }}</td>
                                    <td>{{ quiz.total }}</td>
                                    <td>{{ quiz.obtained }}</td>
                                    <td>{{ quiz.created }}</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    {% else %}
                        <div class="p-4">
                            <div class="card border border-warning">
                                <div class="card-header bg-transparent border-warning">
                                    <h5 class="my-0 text-warning">
                                        <i class="mdi mdi-alert-outline mr-3"></i>Learning Resource Help</h5>
                                </div>
                                <div class="card-body">
                                    <h5 class="card-title mt-0">No learning resource available?</h5>
                                    <p class="card-text">{{ request.user.username }}! No learning resources are
                                        available now
                                        because
                                        the admin didn't added yet come back later.</p>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}


{% block base_internal_scripts %}
    <script src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>
{% endblock %}

{% block base_external_scripts %}
    <script>
        $(document).ready(function () {

            $('table').DataTable();
        });
    </script>
{% endblock %}

