{% extends 'application/base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block base_title %}Question Builder Update{% endblock %}

{% block page_heading %}
    Question builder Update
{% endblock %}
{% block content %}

    <div class="container">


        <div class="row justify-content-center">
            <div class="col-sm-8">

                <div class="card">
                    <div class="card-body">

                        <form class="outer-repeater">
                            <div data-repeater-list="outer-group" class="outer">
                                <div data-repeater-item="" class="outer">

                                    {# NORMAL --> FIELDS #}
                                    <div class="form-group">
                                        <label for="subject">Subject</label>
                                        <select class="form-control bg-light border-0"" id="subject" name="subject">
                                            {% for subject in subjects %}
                                                {% if question.subject.pk == subject.pk %}
                                                    <option value="{{ subject.pk }}"
                                                            selected>{{ subject.title }}</option>
                                                {% else %}
                                                    <option value="{{ subject.pk }}">{{ subject.title }}</option>
                                                {% endif %}
                                            {% endfor %}

                                        </select>
                                    </div>

                                    <div class="form-group">
                                        <label for="age">Age</label>
                                        <input type="number" value="{{ question.age_limit }}"
                                               class="form-control bg-light border-0" id="age" name="age"
                                               placeholder="Targeted age">
                                    </div>

                                    {# STATEMENTS -- GLOBAL --------------------------------------------------------- #}
                                    <div id="statements">
                                        <p class="font-weight-bolder mt-2">Statements</p>

                                        {# STATEMENTS -- GET -------------------------------------------------------- #}
                                        <div class="statements-div">
                                            {% if statements %}
                                                <div class="statements-div-get">
                                                    {% for statement in statements %}

                                                        <div class="form-row mb-3">
                                                            <div class="col-md-11 col-10" id="statement-get">
                                                                <textarea data-statement-id="{{ statement.pk }}"
                                                                          class="form-control bg-light border-0" rows="3">
                                                                  {{ statement.statement }}
                                                                </textarea>
                                                            </div>
                                                            <div class="col-md-1 col-2">
                                                                <div class="btn-group-vertical">

                                                                    <button type="button"
                                                                            data-statement-id="{{ statement.id }}"
                                                                            id="statement-update"
                                                                            class="btn btn-primary">
                                                                        <i class="fa fa-edit"></i>
                                                                    </button>
                                                                    <button type="button"
                                                                            data-statement-id="{{ statement.id }}"
                                                                            id="statement-delete"
                                                                            class="btn btn-danger">
                                                                        <i class="fa fa-trash"></i>
                                                                    </button>
                                                                </div>
                                                            </div>
                                                        </div>

                                                    {% endfor %}
                                                </div>
                                            {% endif %}
                                            <div class="statements-div-set">

                                                <div class="form-row mb-3">
                                                    <div class="col-md-11 col-10" id="statement-get">
                                                        <textarea id="statement-add-text" class="form-control bg-light border-0"
                                                                  rows="3"></textarea>
                                                    </div>
                                                    <div class="col-md-1 col-2">
                                                        <div class="btn-group-vertical">
                                                            <button id="statement-add-btn" type="button"
                                                                    class="btn btn-success">
                                                                <i class="fa fa-plus"></i>
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                    {# ============================================================================== #}

                                    {# CHOICES -- GLOBAL ------------------------------------------------------------ #}
                                    <div id="choices">
                                        <p class="font-weight-bolder mt-2">Options</p>

                                        {# CHOICES -- GET ----------------------------------------------------------- #}
                                        <div class="choices-div">
                                            {% if choices %}
                                                <div class="choices-div-get">
                                                    {% for choice in choices %}
                                                        <div class="form-row mb-3">
                                                            <div class="col-md-10 col-8" id="option">
                                                                <input type="text" class="form-control bg-light border-0"
                                                                       placeholder="option" value="{{ choice.text }}">
                                                            </div>
                                                            <div class="col-md-1 col-2" id="choice">

                                                                {% if choice.is_correct %}
                                                                    <input type="checkbox" class="form-control" checked>
                                                                {% else %}
                                                                    <input type="checkbox" class="form-control">
                                                                {% endif %}

                                                            </div>

                                                            <div class="col-md-1 col-2">
                                                                <button type="button" data-choice-id="{{ choice.id }}"
                                                                        id="choice-delete"
                                                                        class="btn btn-danger">
                                                                    <i class="fa fa-trash"></i>
                                                                </button>
                                                            </div>
                                                        </div>


                                                    {% endfor %}
                                                </div>
                                            {% endif %}
                                            <div class="form-row mb-3">
                                                <div class="col-md-10 col-6" id="option">
                                                    <input type="text" class="form-control bg-light border-0" id="choice-add-text"
                                                           placeholder="option">
                                                </div>
                                                <div class="col-md-1 col-2" id="choice">
                                                    <input type="checkbox" class="form-control border-0" id="choice-add-correct">
                                                </div>
                                                <div class="col-md-1 col-2">
                                                    <button type="button" id="choices-add-btn"
                                                            class="btn btn-success">
                                                        <i class="fa fa-plus"></i>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    {# ============================================================================== #}

                                </div>
                            </div>
                        </form>
                    </div>
                </div>

                <div class="card">
                    <div class="card-body">
                        <p class="text-muted"><b>NOTE: </b>This is a complete update question form, feel free to add, update
                            statements options images and audios, you can change it later whereas screen selection will be on
                            quiz builder during question selection.
                        </p>
                    </div>
                </div>

            </div>
        </div>
    </div>
{% endblock %}


{% block base_external_scripts %}
    <script>

        $(document).ready(function () {


            $('#statements #statement-delete').click(function () {
                let id = $(this).data('statement-id');
                deleteStatement(id);
            });

            $('#statements #statement-add-btn').click(function () {
                saveStatement();
            });

            $('#choices #choice-delete').click(function () {
                let id = $(this).data('choice-id');
                deleteChoice(id);
            });

            $('#choices #choices-add-btn').click(function () {
                saveChoice();
            });


            function deleteStatement(id) {
                $.get("/delete/question_statement/" + id + "/", function () {
                    window.location.reload()
                });
            }

            function deleteChoice(id) {
                $.get("/delete/question_choice/" + id + "/", function () {
                    window.location.reload()
                });
            }

            function saveChoice() {
                let text = $('#choice-add-text').val();
                let is_correct = $('#choice-add-correct').is(":checked");
                if (text == "") {
                    alert("Choice field must not be empty");
                } else {

                    $.post("/add/question_choice/", {
                        'pk': {{ question_id }},
                        'text': text,
                        'is_correct': is_correct
                    }, function (data, status) {
                        window.location.reload();
                    });
                }
            }

            function saveStatement() {
                let text = $('#statement-add-text').val();
                if (text == "") {
                    alert("Statement field must not be empty");
                } else {
                    $.post("/add/question_statement/", {
                        'pk': {{ question_id }},
                        'text': text
                    }, function (data, status) {
                        window.location.reload();
                    });
                }
            }

        });
    </script>
{% endblock %}
