{% extends 'application/base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block base_title %}Quiz Builder{% endblock %}

{% block base_links %}
    <!-- XDSoft DateTimePicker -->
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.min.css"
          integrity="sha256-DOS9W6NR+NFe1fUhEE0PGKY/fubbUCnOfTje2JMDw3Y=" crossorigin="anonymous"/>
{% endblock %}

{% block page_heading %}
    Quiz : {{ quiz_title }}<br><br>
    {#    <p class="m-0 small text-white bg-danger p-2 my-2"><b>WARNING: </b>don't delete this quiz if this is attempted by#}
    {#        anyone.</p>#}
    <a href="{% url 'application:delete_quiz' quiz_id %}" class="btn btn-sm btn-link text-danger"><i
            class="fa fa-trash"></i> Remove</a>
    <a href="{% url 'application:update_quiz' quiz_id %}" class="btn btn-sm btn-link text-primary"><i
            class="fa fa-edit"></i> Edit</a>
    <a href="{% url 'application:quiz_builder' %}" class="btn btn-sm btn-link text-primary"><i
            class="fa fa-plus"></i> Add New</a>

{% endblock %}


{% block content %}


    <div class="">
        <div class="">
            <div class="card" hidden>
                <div class="card-header text-left"><p class="lead m-0">Quiz Statistics</p></div>
                <div class="card-body">
                    <div class="row justify-content-center">
                        <div class="col">
                            <div class="row justify-content-center">
                                <div>
                                    <div>
                                        <p class="m-0">Quiz Subjects</p>
                                    </div>
                                    <ul class="list-unstyled text-primary">
                                        {% for subject in subjects %}
                                            <li>{{ subject.title }}</li>
                                        {% endfor %}

                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="row justify-content-center">
                                <div>
                                    <div>
                                        <p class="m-0">Quiz Questions</p>
                                    </div>
                                    <ul class="list-unstyled text-primary">
                                        <li>TOTAL: {{ total }}</li>
                                        <li>SELECTED: {{ selected }}</li>
                                        <li>REMAINING: {{ remaining }}</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="row justify-content-center">
                                <div>
                                    <div>
                                        <p class="m-0 ">Quiz Level</p>
                                    </div>
                                    <ul class="list-unstyled">
                                        <li class="text-danger">
                                            40
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>

                                        </li>
                                        <li style="color: darkorange;">
                                            25
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>

                                        </li>
                                        <li class="text-warning">
                                            10
                                            <i class="fa fa-star"></i>
                                        </li>

                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            {# Search details #}
            <div class="p-0 p-sm-0" hidden>
                <input type="search" class="form-control" placeholder="Search Question" id="search-filter">
                <ul class="searchlist list-unstyled  border-top-0 card" id="search_list_product">
                </ul>
            </div>

            {% if qs %}


                {% for q in questionDS %}
                    <div class="card">
                        <div class="card-body">

                            {# QUESTION #}
                            <div class="table-responsive">
                                <table class="table table-borderless table-nowrap mb-0">
                                    <tbody>

                                    <tr>
                                        <td>
                                            SNO
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input"
                                                       id="question{{ q.id }}">
                                                <label class="custom-control-label"
                                                       for="customCheck3">Question {{ forloop.counter }}</label>
                                            </div>
                                        </td>
                                        <td>
                                            Subject
                                            <h5 class="text-truncate font-size-14 m-0"><a href="#"
                                                                                          class="text-dark">{{ q.subject }}</a>
                                            </h5>
                                        </td>
                                        <td>
                                            Level<br>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>

                                        </td>
                                        <td>
                                            Age Limit
                                            <h5 class="text-truncate font-size-14 m-0"><a href="#"
                                                                                          class="text-dark">{{ q.age_limit }}</a>
                                            </h5>
                                        </td>
                                        <td class="">
                                            Submission Control
                                            <div class="custom-control custom-checkbox">
                                                <label class="custom-control-label"
                                                       for="submission{{ q.id }}">Screen1</label>
                                                <input type="checkbox" class="custom-control-input"
                                                       id="submission{{ q.id }}">
                                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                                <label class="custom-control-label"
                                                       for="submission{{ q.id }}">Screen2</label>
                                                <input type="checkbox" class="custom-control-input"
                                                       id="submission{{ q.id }}">
                                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                                <label class="custom-control-label"
                                                       for="submission{{ q.id }}">Screen3</label>
                                                <input type="checkbox" class="custom-control-input"
                                                       id="submission{{ q.id }}">
                                            </div>
                                        </td>
                                    </tr>

                                    </tbody>
                                </table>
                            </div>

                            {# DESC #}
                            <div>
                                <div class="table-responsive">
                                    <table class="table table-borderless">
                                        <tr class="border-top">
                                            <th>Statement</th>
                                            <th>Screen 1</th>
                                            <th>Screen 2</th>
                                            <th>Screen 3</th>
                                        </tr>

                                        {# STATEMENTS #}
                                        {% for desc in q.statements %}
                                            <tr>
                                                <td>{{ desc.description }}</td>
                                                <td>
                                                    {% if desc.screen1 %}
                                                        <input type="checkbox" checked>
                                                    {% else %}
                                                        <input type="checkbox">
                                                    {% endif %}
                                                </td>

                                                <td>
                                                    {% if desc.screen2 %}
                                                        <input type="checkbox" checked>
                                                    {% else %}
                                                        <input type="checkbox">
                                                    {% endif %}
                                                </td>

                                                <td>
                                                    {% if desc.screen3 %}
                                                        <input type="checkbox" checked>
                                                    {% else %}
                                                        <input type="checkbox">
                                                    {% endif %}
                                                </td>
                                            </tr>
                                        {% endfor %}

                                        <tr class="border-top">
                                            <th>Choice</th>
                                            <th>Screen 1</th>
                                            <th>Screen 2</th>
                                            <th>Screen 3</th>
                                        </tr>

                                        {# CHOICES #}
                                        {% for desc in q.choices %}
                                            <tr>
                                                <td>{{ desc.description }}</td>
                                                <td>
                                                    {% if desc.screen1 %}
                                                        <input type="checkbox" checked>
                                                    {% else %}
                                                        <input type="checkbox">
                                                    {% endif %}
                                                </td>

                                                <td>
                                                    {% if desc.screen2 %}
                                                        <input type="checkbox" checked>
                                                    {% else %}
                                                        <input type="checkbox">
                                                    {% endif %}
                                                </td>

                                                <td>
                                                    {% if desc.screen3 %}
                                                        <input type="checkbox" checked>
                                                    {% else %}
                                                        <input type="checkbox">
                                                    {% endif %}
                                                </td>
                                            </tr>
                                        {% endfor %}

                                        <tr class="border-top">
                                            <th>Image</th>
                                            <th>Screen 1</th>
                                            <th>Screen 2</th>
                                            <th>Screen 3</th>
                                        </tr>
                                        {# IMAGE #}
                                        {% for v in '123'|make_list %}
                                            <tr>
                                                <td><a href="{% static "images/apples.png" %}"><img
                                                        class="img-responsive" height="50"
                                                        src="{% static "images/apples.png" %}"></a></td>
                                                <td><input type="checkbox"></td>
                                                <td><input type="checkbox"></td>
                                                <td><input type="checkbox"></td>
                                            </tr>
                                        {% endfor %}

                                        <tr class="border-top">
                                            <th>Audio</th>
                                            <th>Screen 1</th>
                                            <th>Screen 2</th>
                                            <th>Screen 3</th>
                                        </tr>

                                        {# AUDIO #}
                                        {% for v in '123'|make_list %}
                                            <tr>
                                                <td>
                                                    <audio controls>
                                                        <source src="https://tutorialehtml.com/assets_tutorials/media/Loreena_Mckennitt_Snow_56bit.mp3"
                                                                type="audio/mpeg">
                                                        <source src="https://tutorialehtml.com/assets_tutorials/media/Loreena_Mckennitt_Snow_56bit.ogg"
                                                                type="audio/ogg">
                                                        Your browser does not support the audio tag.
                                                    </audio>
                                                </td>
                                                <td><input type="checkbox"></td>
                                                <td><input type="checkbox"></td>
                                                <td><input type="checkbox"></td>
                                            </tr>
                                        {% endfor %}

                                        </tbody>
                                    </table>
                                </div>
                            </div>


                        </div>
                    </div>
                {% endfor %}
            {% endif %}


        </div>


    </div>


{% endblock %}

{% block base_internal_scripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.full.min.js"
            integrity="sha256-FEqEelWI3WouFOo2VWP/uJfs1y8KJ++FLh2Lbqc8SJk=" crossorigin="anonymous"></script>

{% endblock %}

{% block base_external_scripts %}
    <script>
        $(document).ready(function () {

            /*

            let select_screen = $('select');
            select_screen.change(function (event) {

                let option = parseInt($(this).val());
                let id = parseInt($(this).data('question'));

                $.get('/update/screen/option/' + option + '/question/' + id + '/', function (data, status) {
                    console.log(data.message);
                });

            });

            */

            $('#search-filter').keyup(function () {

                $('#search_list_product').html('');

                let search = $('#search-filter').val();
                if (search != '') {
                    search_questions(search);
                } else {
                    $('#search_list_product').html('');
                }
            });

            $('#id_start_time').datetimepicker({
                format: 'Y-m-d H:i:s',
            });

            $('#id_end_time').datetimepicker({
                format: 'Y-m-d H:i:s',
            });

            // FUNCTIONS
            function search_questions(search) {
                $.ajax({
                    url: "/search/questions/for/quiz/{{ quiz_id }}/?search=" + search,
                    type: 'GET',
                    success: function (response) {
                        console.log(response)
                        for (let i = 0; i < response['length']; i++) {
                            $('#search_list_product').append(
                                '<li class="p-2" id="' + response[i].question + '">' +
                                '<a class="text-secondary" href="/add/quiz/{{ quiz_id }}/question/' + response[i].question + '/">' +
                                '' + response[i].subject + ' | ' + response[i].statement + '' +
                                '</a>' +
                                '</li>'
                            );
                        }
                    },
                    error: function (response) {
                        $('#search_list_product').html('');
                    }
                });
            }
        });
    </script>

{% endblock %}

