{% extends 'application/base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block base_title %}Quiz Builder{% endblock %}

{% block base_links %}
    <!-- XDSoft DateTimePicker -->
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.min.css"
          integrity="sha256-DOS9W6NR+NFe1fUhEE0PGKY/fubbUCnOfTje2JMDw3Y=" crossorigin="anonymous"/>
{% endblock %}


{% block content %}

    <div class="row mb-2 px-2">
        <div class="col-7">
            <a href="{% url 'application:delete_quiz' quiz_id %}" class="bt btn-link text-danger"><i
                    class="fa fa-trash"></i> Remove</a>
            <a href="{% url 'application:update_quiz' quiz_id %}" class="btn btn-link text-primary"><i
                    class="fa fa-edit"></i> Edit</a>
            <a href="{% url 'application:quiz_builder' %}" class="btn btn-link text-primary"><i
                    class="fa fa-plus"></i> Add New</a>
        </div>
        <div class="col-5 text-right">
            <b class="font-weight-bolder"><i class="fa fa-chart-pie"></i> Total 10</b> |
            <b class="font-weight-bolder"><i class="fa fa-chart-pie"></i> Selected 08</b>
        </div>
    </div>

    {# MAIN DIVISION #}
    <div class="">

        {% if questionDS %}
            {% for q in questionDS %}
                <div class="card">
                    <div class="card-body">

                        {# QUESTION-MAIN HEADER ----------------------------------------------------------------- #}
                        <div class="table-responsive">
                            <table class="table table-borderless table-nowrap mb-0">
                                <tbody id="submission_control_body">

                                <tr>
                                    <td>
                                        SNO ({{ q.question_id }})
                                        <div class="">
                                            <input type="checkbox" id="question_submission" data-quiz="{{ quiz_id }}"
                                                   data-question="{{ q.question_id }}" data-quizquestion="{{ q.id }}"
                                                    {% if q.question_exists %} checked {% endif %}>
                                            <b class="text-success">
                                                Associated
                                            </b>
                                        </div>
                                    </td>
                                    <td>
                                        Subject
                                        <h5 class="text-truncate font-size-14 m-0"><a href="#"
                                                                                      class="text-dark">{{ q.subject }}</a>
                                        </h5>
                                    </td>
                                    <td>
                                        Level<br>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>

                                    </td>
                                    <td>
                                        Age Limit
                                        <h5 class="text-truncate font-size-14 m-0"><a href="#"
                                                                                      class="text-dark">{{ q.age_limit }}</a>
                                        </h5>
                                    </td>

                                </tr>

                                </tbody>
                            </table>
                        </div>

                        {# QUESTION-DESC ------------------------------------------------------------------------ #}
                        <div id="desc-div">
                            <div class="table-responsive">
                                <table class="table table-borderless">

                                    <colgroup>
                                        <col span="1" style="width: 50%;">
                                    </colgroup>

                                    {# SUBMISSION CONTROL ----------------------------------------------------------- #}
                                    <tr class="border-top">
                                        <th>Submission Control</th>
                                        <th>Screen 1</th>
                                        {% if players == '2' or players == '3' %}
                                            <th>Screen 2</th>
                                        {% endif %}
                                        {% if players == '3' %}
                                            <th>Screen 3</th>
                                        {% endif %}
                                    </tr>
                                    <tr>
                                        <td>Submission Control</td>
                                        <td>
                                            <input type="radio"
                                                   name="submission_control_{{ q.id }}" id="submission_control"
                                                   value="1"
                                                   data-questionid="{{ q.id }}"
                                                   {% if q.submission_control.no == 1 %}checked="checked"{% endif %}
                                            >
                                        </td>

                                        {% if players == '2' or players == '3' %}
                                            <td>
                                                <input type="radio"
                                                       name="submission_control_{{ q.id }}" id="submission_control"
                                                       value="2"
                                                       data-questionid="{{ q.id }}"
                                                       {% if q.submission_control.no == 2 %}checked{% endif %}
                                                >
                                            </td>
                                        {% endif %}

                                        {% if players == '3' %}
                                            <td>
                                                <input type="radio"
                                                       name="submission_control_{{ q.id }}" id="submission_control"
                                                       value="3"
                                                       data-questionid="{{ q.id }}"
                                                       {% if q.submission_control.no == 3 %}checked{% endif %}
                                                >
                                            </td>
                                        {% endif %}
                                    </tr>

                                    {# STATEMENTS ------------------------------------------------------------------ #}
                                    {% if q.statements %}
                                        <tr class="border-top">
                                            <th>Statement</th>
                                            <th>Screen 1</th>
                                            {% if players == '2' or players == '3' %}
                                                <th>Screen 2</th>
                                            {% endif %}
                                            {% if players == '3' %}
                                                <th>Screen 3</th>
                                            {% endif %}
                                        </tr>

                                        {% for desc in q.statements %}
                                            <tr>
                                                <td>{{ desc.description }} {% lorem 20 w %}</td>
                                                <td>
                                                    <input type="checkbox" id="statement_control"
                                                           data-question="{{ q.id }}"
                                                           data-statement="{{ desc.id }}"
                                                            {% if desc.screen1 %} checked {% endif %} data-screen="1">
                                                </td>

                                                {% if players == '2' or players == '3' %}
                                                    <td>
                                                        <input type="checkbox" id="statement_control"
                                                               data-question="{{ q.id }}"
                                                               data-statement="{{ desc.id }}"
                                                                {% if desc.screen2 %} checked {% endif %}
                                                               data-screen="2">
                                                    </td>
                                                {% endif %}

                                                {% if players == '3' %}
                                                    <td>
                                                        <input type="checkbox" id="statement_control"
                                                               data-question="{{ q.id }}"
                                                               data-statement="{{ desc.id }}"
                                                                {% if desc.screen3 %} checked {% endif %}
                                                               data-screen="3">
                                                    </td>
                                                {% endif %}
                                            </tr>
                                        {% endfor %}
                                    {% endif %}

                                    {# CHOICES ---------------------------------------------------------------------- #}
                                    {% if q.choices %}
                                        <tr class="border-top">
                                            <th>Choice</th>
                                            <th>Screen 1</th>
                                            {% if players == '2' or players == '3' %}
                                                <th>Screen 2</th>
                                            {% endif %}
                                            {% if players == '3' %}
                                                <th>Screen 3</th>
                                            {% endif %}
                                        </tr>

                                        {% for desc in q.choices %}
                                            <tr>
                                                <td>
                                                    {% if desc.is_correct %}
                                                        <i class="fa fa-check-circle font-weight-bolder text-success"></i>
                                                    {% else %}
                                                        <i class="fa fa-times-circle font-weight-bolder text-danger"></i>
                                                    {% endif %}
                                                    {{ desc.description }}
                                                </td>
                                                <td>
                                                    <input type="checkbox" id="choice_control"
                                                           data-question="{{ q.id }}"
                                                           data-choice="{{ desc.id }}"
                                                            {% if desc.screen1 %} checked {% endif %} data-screen="1">
                                                </td>

                                                {% if players == '2' or players == '3' %}
                                                    <td>
                                                        <input type="checkbox" id="choice_control"
                                                               data-question="{{ q.id }}"
                                                               data-choice="{{ desc.id }}"
                                                                {% if desc.screen2 %} checked {% endif %}
                                                               data-screen="2">
                                                    </td>
                                                {% endif %}

                                                {% if players == '3' %}
                                                    <td>
                                                        <input type="checkbox" id="choice_control"
                                                               data-question="{{ q.id }}"
                                                               data-choice="{{ desc.id }}"
                                                                {% if desc.screen3 %} checked {% endif %}
                                                               data-screen="3">
                                                    </td>
                                                {% endif %}
                                            </tr>
                                        {% endfor %}
                                    {% endif %}

                                    {#IMAGE ------------------------------------------------------------------------- #}
                                    {% if q.images %}
                                        <tr class="border-top">
                                            <th>Image</th>
                                            <th>Screen 1</th>
                                            {% if players == '2' or players == '3' %}
                                                <th>Screen 2</th>
                                            {% endif %}
                                            {% if players == '3' %}
                                                <th>Screen 3</th>
                                            {% endif %}
                                        </tr>

                                        {% for desc in q.images %}
                                            <tr>
                                                <td class="">
                                                    {% if desc.url %}
                                                        <a href="{{ desc.url }}" target="_blank">
                                                            <img src="{{ desc.url }}" height="50">
                                                        </a>
                                                    {% elif desc.image %}
                                                        <a href="{{ desc.image }}" target="_blank">
                                                            <img src="{{ desc.image }}" height="50">
                                                        </a>
                                                    {% else %}
                                                        <h4 class="text-danger font-weight-bolder">Content not
                                                            available</h4>
                                                    {% endif %}
                                                </td>
                                                <td>
                                                    <input type="checkbox" id="image_control" data-question="{{ q.id }}"
                                                           data-image="{{ desc.id }}"
                                                            {% if desc.screen1 %} checked {% endif %} data-screen="1">
                                                </td>

                                                {% if players == '2' or players == '3' %}
                                                    <td>
                                                        <input type="checkbox" id="image_control"
                                                               data-question="{{ q.id }}"
                                                               data-image="{{ desc.id }}"
                                                                {% if desc.screen2 %} checked {% endif %}
                                                               data-screen="2">
                                                    </td>
                                                {% endif %}

                                                {% if players == '3' %}
                                                    <td>
                                                        <input type="checkbox" id="image_control"
                                                               data-question="{{ q.id }}"
                                                               data-image="{{ desc.id }}"
                                                                {% if desc.screen3 %} checked {% endif %}
                                                               data-screen="3">
                                                    </td>
                                                {% endif %}
                                            </tr>
                                        {% endfor %}
                                    {% endif %}

                                    {# ADUIOS ----------------------------------------------------------------------- #}
                                    {% if q.audios %}
                                        <tr class="border-top">
                                            <th>Audio</th>
                                            <th>Screen 1</th>
                                            {% if players == '2' or players == '3' %}
                                                <th>Screen 2</th>
                                            {% endif %}
                                            {% if players == '3' %}
                                                <th>Screen 3</th>
                                            {% endif %}
                                        </tr>

                                        {% for desc in q.audios %}
                                            <tr>
                                                <td>
                                                    {% if desc.url %}
                                                        <audio controls class="">
                                                            <source src="{{ desc.url }}"
                                                                    type="audio/mpeg">
                                                            Your browser does not support the audio tag.
                                                        </audio>
                                                    {% elif desc.audio %}
                                                        <audio controls>
                                                            <source src="{{ desc.audio }}"
                                                                    type="audio/mpeg">
                                                            Your browser does not support the audio tag.
                                                        </audio>
                                                    {% else %}
                                                        <h4 class="text-danger font-weight-bolder">Content not
                                                            available</h4>
                                                    {% endif %}
                                                </td>
                                                <td>
                                                    <input type="checkbox" id="audio_control" data-question="{{ q.id }}"
                                                           data-audio="{{ desc.id }}"
                                                            {% if desc.screen1 %} checked {% endif %} data-screen="1">
                                                </td>

                                                {% if players == '2' or players == '3' %}
                                                    <td>
                                                        <input type="checkbox" id="audio_control"
                                                               data-question="{{ q.id }}"
                                                               data-audio="{{ desc.id }}"
                                                                {% if desc.screen2 %} checked {% endif %}
                                                               data-screen="2">
                                                    </td>
                                                {% endif %}

                                                {% if players == '3' %}
                                                    <td>
                                                        <input type="checkbox" id="audio_control"
                                                               data-question="{{ q.id }}"
                                                               data-audio="{{ desc.id }}"
                                                                {% if desc.screen3 %} checked {% endif %}
                                                               data-screen="3">
                                                    </td>
                                                {% endif %}
                                            </tr>
                                        {% endfor %}
                                    {% endif %}

                                </table>
                            </div>
                        </div>


                    </div>
                </div>
            {% endfor %}
        {% endif %}

        {% if questions %}
            {% for q in questions %}

                <div class="card">
                    <div class="card-body">

                        {# QUESTION-MAIN HEADER ----------------------------------------------------------------- #}
                        <div class="table-responsive">
                            <table class="table table-borderless table-nowrap mb-0">
                                <tbody id="submission_control_body">

                                <tr>

                                    <td>
                                        SNO ({{ q.id }})
                                        <div class="">
                                            <input type="checkbox" class="mt-2" id="question_submission"
                                                   data-quiz="{{ quiz_id }}"
                                                   data-question="{{ q.id }}">
                                            <b class="text-danger">
                                                Not-Associated
                                            </b>
                                        </div>
                                    </td>

                                    <td>
                                        Subject
                                        <h5 class="text-truncate font-size-14 m-0"><a href="#"
                                                                                      class="text-dark">{{ q.subject }}</a>
                                        </h5>
                                    </td>
                                    <td>
                                        Level<br>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>

                                    </td>
                                    <td>
                                        Age Limit
                                        <h5 class="text-truncate font-size-14 m-0">
                                            <b class="text-dark">{{ q.age_limit }}</b>
                                        </h5>
                                    </td>
                                </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

            {% endfor %}
        {% endif %}

    </div>


{% endblock %}

{% block base_internal_scripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.full.min.js"
            integrity="sha256-FEqEelWI3WouFOo2VWP/uJfs1y8KJ++FLh2Lbqc8SJk=" crossorigin="anonymous"></script>

{% endblock %}

{% block base_external_scripts %}
    <script>
        $(document).ready(function () {

            $('#desc-div #submission_control').click(function () {
                let question = $(this).data('questionid');
                let value = $(this).val();

                $.post("/c/api/change/quiz/question/submission/status/" + question + "/",
                    {
                        screen_id: value,
                    }, function (data, status) {
                        if (data.success === "False") {
                            alert("Failed to update record: make sure everything is correct");
                        }
                    });
                ;
            });

            $('#desc-div #choice_control').click(function () {
                let choice_id = $(this).data('choice');
                let screen_id = $(this).data('screen');
                let is_checked = $(this).is(":checked");

                $.post("/c/api/change/quiz/question/choice/status/" + choice_id + "/",
                    {
                        screen_id: screen_id,
                        is_checked: is_checked,

                    }, function (data, status) {
                        if (data.success == "False") {
                            alert(data.message);
                        }
                    });
                ;
            });

            $('#desc-div #statement_control').click(function () {
                let statement_id = $(this).data('statement');
                let screen_id = $(this).data('screen');
                let is_checked = $(this).is(":checked");

                $.post("/c/api/change/quiz/question/statement/status/" + statement_id + "/",
                    {
                        screen_id: screen_id,
                        is_checked: is_checked,

                    }, function (data, status) {
                        if (data.success == "False") {
                            alert(data.message);
                        }
                    });
                ;
            });

            $('#desc-div #image_control').click(function () {
                let image_id = $(this).data('image');
                let screen_id = $(this).data('screen');
                let is_checked = $(this).is(":checked");

                $.post("/c/api/change/quiz/question/image/status/" + image_id + "/",
                    {
                        screen_id: screen_id,
                        is_checked: is_checked,

                    }, function (data, status) {
                        if (data.success == "False") {
                            alert(data.message);
                        }
                    });
                ;
            });

            $('#desc-div #audio_control').click(function () {
                let audio_id = $(this).data('audio');
                let screen_id = $(this).data('screen');
                let is_checked = $(this).is(":checked");

                $.post("/c/api/change/quiz/question/audio/status/" + audio_id + "/",
                    {
                        screen_id: screen_id,
                        is_checked: is_checked,

                    }, function (data, status) {
                        if (data.success == "False") {
                            alert(data.message);
                        }
                    });
                ;
            });

            $('#submission_control_body #question_submission').click(function () {
                let quiz = $(this).data('quiz');
                let question = $(this).data('question');
                let is_checked = $(this).is(":checked");
                let add_url = "/add/quiz/" + quiz + "/question/" + question + "/";
                let del_url = "/delete/quiz/" + quiz + "/question/" + question + "/";

                if (is_checked) {
                    $.get(add_url, function (data) {
                        location.reload();
                    });
                } else {
                    $.get(del_url, function (data) {
                        location.reload();
                    });
                }
            });

        });
    </script>

{% endblock %}

