{% extends 'application/base.html' %}
{% load static %}

{% block base_title %}Quiz Question Setup{% endblock %}

{% block page_heading %}
    Quiz: Question Setup
{% endblock %}


{% block content %}
    <div class="row">
        <div class="col-sm-12">

            <div class="card">
                <div class="card-body">
                    <p class="card-title h4 mb-2">Question Statements</p>
                    <div class="table-responsive">
                        <table class="table table-borderless">
                            <thead>

                            <th>ID</th>
                            <th>Statement</th>
                            <th>Screens</th>

                            </thead>
                            <tbody>

                            {% for question_statement in question_statements %}
                                <tr id="statement-div">
                                    <td id="id">{{ question_statement.pk }}</td>
                                    <td id="statement">{{ question_statement.statement.statement }}</td>
                                    <td id="screens">
                                        <input type="checkbox" {% if question_statement.screen_1 %}checked{% endif %}
                                               id="screen" data-id="{{ question_statement.pk }}"
                                               data-screen="1">
                                        {% if players == '2' or players == '3' %}
                                            <input type="checkbox"
                                                   {% if question_statement.screen_2 %}checked{% endif %} id="screen"
                                                   data-id="{{ question_statement.pk }}" data-screen="2">
                                        {% endif %}
                                        {% if players == '3' %}
                                            <input type="checkbox"
                                                   {% if question_statement.screen_3 %}checked{% endif %} id="screen"
                                                   data-id="{{ question_statement.pk }}" data-screen="3">
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endfor %}


                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-body">
                    <p class="card-title h4 mb-2">Question Choices</p>
                    <div class="table-responsive">
                        <table class="table table-borderless">
                            <thead>

                            <th>ID</th>
                            <th>Choice</th>
                            <th>Screen 1</th>
                            {% if players == '2' or players == '3' %}
                                <th>Screen 2</th>
                            {% endif %}
                            {% if players == '3' %}
                                <th>Screen 3</th>
                            {% endif %}

                            </thead>
                            <tbody>

                            {% for question_choice in question_choices %}
                                <tr id="choices-div">
                                    <td>{{ question_choice.pk }}</td>
                                    <td>{{ question_choice.choice.text }}</td>
                                    <td>
                                        <input id="screen" type="checkbox"
                                               {% if question_choice.screen_1 %}checked{% endif %}
                                               data-id="{{ question_choice.pk }}"
                                               data-screen="1">
                                    </td>
                                    {% if players == '2' or players == '3' %}
                                        <td>
                                            <input id="screen" type="checkbox"
                                                   {% if question_choice.screen_2 %}checked{% endif %}
                                                   data-id="{{ question_choice.pk }}"
                                                   data-screen="2">
                                        </td>
                                    {% endif %}
                                    {% if players == '3' %}
                                        <td>
                                            <input id="screen" type="checkbox"
                                                   {% if question_choice.screen_3 %}checked{% endif %}
                                                   data-id="{{ question_choice.pk }}"
                                                   data-screen="3">
                                        </td>
                                    {% endif %}
                                </tr>
                            {% endfor %}

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-body">
                    <p class="card-title h4 mb-2">Question Submission control</p>
                    <div class="row">
                        <div class="col">

                            <input type="radio" value="1" name="submission_control" id="submission_control"
                                   {% if question_submission_control == 1 %}checked{% endif %}> Screen 1<br>

                            {% if players == '2' or players == '3' %}
                                <input type="radio" value="2" name="submission_control" id="submission_control"
                                       {% if question_submission_control == 2 %}checked{% endif %}> Screen 2<br>
                            {% endif %}

                            {% if players == '3' %}
                                <input type="radio" value="3" name="submission_control" id="submission_control"
                                       {% if question_submission_control == 3 %}checked{% endif %}> Screen 3 <br>
                            {% endif %}

                        </div>
                    </div>
                    <br>
                    <a href="{% url 'application:quiz_builder_update' quiz %}"  class="btn btn-primary">Save Changes</a>
                </div>
            </div>

        </div>
    </div>
{% endblock %}


{% block base_external_scripts %}
    <script>
        $(document).ready(function () {

            $('#statement-div #screen').click(function () {
                let statement_id = $(this).data('id');
                let screen_id = $(this).data('screen');
                let is_checked = $(this).is(":checked");

                $.post("/c/api/change/quiz/question/statement/status/" + statement_id + "/",
                    {
                        screen_id: screen_id,
                        is_checked: is_checked,

                    }, function (data, status) {
                    if (data.success === "False") {
                            alert("Failed to update record: make sure everything is correct");
                        }
                    });
                ;
            });

            $('#choices-div #screen').click(function () {
                let choice_id = $(this).data('id');
                let screen_id = $(this).data('screen');
                let is_checked = $(this).is(":checked");

                $.post("/c/api/change/quiz/question/choice/status/" + choice_id + "/",
                    {
                        screen_id: screen_id,
                        is_checked: is_checked,

                    }, function (data, status) {
                    if (data.success === "False") {
                            alert("Failed to update record: make sure everything is correct");
                        }
                    });
                ;
            });

            $('input[name=submission_control]').click(function () {
                let screen_id = $(this).val();

                $.post("/c/api/change/quiz/question/submission/status/{{ quiz_question }}/",
                    {
                        screen_id: screen_id,
                    }, function (data, status) {
                        if (data.success === "False") {
                            alert("Failed to update record: make sure everything is correct");
                        }
                    });
                ;
            });


        });
    </script>
{% endblock %}

