{% extends 'application/base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block base_title %}Site Builder{% endblock %}

{% include 'application/message.html' %}

{% block page_heading %}
    Cocognito Website Builder
{% endblock %}
{% block content %}
    <div class="row justify-content-center">

        <div class="col-sm-10">
            <div class="card">
                <div class="card-header p-4">
                    <h5 class="text-center m-0">More Advance Options</h5>

                    <p class="m-0 mt-2 text-center">
                        <a href="/admin/wsite/website/"><i class="fa fa-globe"></i> Website</a> &nbsp;
                        <a href="/admin/wsite/websiteteam/"><i class="fa fa-users"></i> Team</a> &nbsp;
                        <a href="/admin/wsite/websiteevents/"><i class="fa fa-calendar"></i> Events</a> &nbsp;
                        <a href="/admin/wsite/websitemodules/"><i class="fa fa-box-open"></i> Modules</a> &nbsp;
                    </p>
                </div>
                <div class="card-body">
                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{ form.media }}
                        {{ form| crispy }}
                        <button class="btn btn-success" type="submit"><i class="fa fa-check"></i> Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
