{% load static %}
<html>
    <head>
        <title>Zoom WebSDK</title>
    <meta charset="utf-8" />
    <link type="text/css" rel="stylesheet" href="https://source.zoom.us/1.9.5/css/bootstrap.css" />
    <link type="text/css" rel="stylesheet" href="https://source.zoom.us/1.9.5/css/react-select.css" />
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">


    </head>
    <body>



{#    <div id="zmmtg-root"></div>#}
{#    <div id="aria-notify-area"></div>#}

    <!-- import ZoomMtg dependencies -->
    <script src="https://source.zoom.us/1.9.5/lib/vendor/react.min.js"></script>
    <script src="https://source.zoom.us/1.9.5/lib/vendor/react-dom.min.js"></script>
    <script src="https://source.zoom.us/1.9.5/lib/vendor/redux.min.js"></script>
    <script src="https://source.zoom.us/1.9.5/lib/vendor/redux-thunk.min.js"></script>
    <script src="https://source.zoom.us/1.9.5/lib/vendor/lodash.min.js"></script>

    <!-- import ZoomMtg -->
    <script src="https://source.zoom.us/zoom-meeting-1.9.5.min.js"></script>
    <script src="{% static "zoom/tool.js" %}"></script>
    <script src="{% static "zoom/vconsole.min.js" %}"></script>

    <div class="row">
        <div class="container">
            <div class="">
                 {% lorem 100 w %}
            </div>
        </div>
    </div>

    </body>
</html>
<script>

    console.log("HI");

    ZoomMtg.setZoomJSLib('https://source.zoom.us/1.9.5/lib', '/av');
    ZoomMtg.preLoadWasm();
    ZoomMtg.prepareWebSDK();
    {#ZoomMtg.checkSystemRequirements();#}

    var API_KEY = "EBB0k1HnRN6hlD5dvrkAyw";
    var API_SECRET = "1hnrKhnDfgbZDsg5WdLKxEIA9bZsPBm2BKOF";
    var USER_NAME = "std1";
    var USER_EMAIL = "std1@exarth.com";
    var MEEETING_NO = "85797828851";

    var SIGNATURE = ZoomMtg.generateSignature({
        meetingNumber: MEEETING_NO,
        apiKey: API_KEY,
        apiSecret: API_SECRET,
        role: 1,

        success: res => {
            console.log("SIGNATURE: "+res.result);
        }

    });

    var meetingconfig = {
        apiKey: API_KEY,
        meetingNumber: MEEETING_NO,
        userName: USER_NAME,
        leaveUrl: "/",
        signature: SIGNATURE
    };

    ZoomMtg.init({
        leaveUrl: 'http://127.0.0.1:8000/', //required
        debug:true,
        isSupportAV: true,
        loginWindow: {  // optional,
      width: 400,
      height: 380
    },
        success: (success_main) =>{
            console.log("INITALIZATION: "+success_main);

            ZoomMtg.join({
                meetingNumber: MEEETING_NO,
                userName: USER_NAME,
                signature: SIGNATURE,
                apiKey: API_KEY,
                userEmail: USER_EMAIL,
                passWord: "123456",

                success: (success_message) => {
                    console.log("JOINED: "+success_message);
                },
                error: (error) =>{
                    console.log("JOIN MEETING: "+error);
                }

            });


        },
        error: (main_error) => {
            console.log("ERROR MAIN: "+main_error);
        }
    });



</script>