{% extends 'wsite/base.html' %}
{% load static %}

{% block base_sub_title %}
    Lets Learn Together
{% endblock %}

{% block base_content %}

    {# HERO, WHO, ACTIVITIES ---------------------------------------------------------------------------------------- #}
    <div class="main-banner">
        <div class="main-banner-item banner-item-two">
            <div class="d-table">
                <div class="d-table-cell">
                    <div class="container-fluid">
                        <div class="row align-items-center">
                            <div class="col-lg-6">
                                <div class="main-banner-content">
                                    <span>{{ content.hero_pre_heading }}</span>
                                    <h1>{{ content.hero_heading }}</h1>
                                    <p>
                                        {{ content.hero_paragraph_1 }}
                                    </p><br>
                                    <p>
                                        {{ content.hero_paragraph_2 }}
                                    </p><br>
                                    <span>{{ content.hero_end_line }}</span>
                                    <div class="banner-btn">
                                        <a href="{% url 'account_signup' %}" class="default-btn">
                                            Register Now
                                        </a>
                                        <a href="{% url 'account_login' %}" class="optional-btn">
                                            Login
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="main-banner-image-wrap">
                                    <img src="{% static 'website/img/main-banner/main-banner-1.png' %}" alt="image">
                                    <div class="banner-image-wrap-shape">
                                        <img src="{% static 'website/img/main-banner/main-banner-shape-1.png' %}"
                                             alt="image">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="main-banner-shape">
            <div class="shape-5">
                <img src="{% static 'website/img/main-banner/banner-shape-5.png' %}" alt="image">
            </div>
            <div class="shape-2">
                <img src="{% static 'website/img/main-banner/banner-shape-2.png' %}" alt="image">
            </div>
            <div class="shape-6">
                <img src="{% static 'website/img/main-banner/banner-shape-6.png' %}" alt="image">
            </div>
            <div class="shape-4">
                <img src="{% static 'website/img/main-banner/banner-shape-4.png' %}" alt="image">
            </div>
        </div>
    </div>

    <section id="quizzes" class="class-area pt-100 pb-70">
        <div class="container">
            <div class="section-title">
                <span>Tests</span>
                <h2>Upcoming Quizzes</h2>

            </div>

            {% if quizzes %}
                <div class="row">
                    {% for quiz in quizzes %}
                        <div class="col-lg-4 col-md-6">
                            <div class="single-class">
                                <div class="class-image">
                                    <a href="#">
                                        {% if not quiz.thumbnail %}
                                            <img width="550" height="500" src="{% static 'images/no_content.png' %}"
                                                 alt="image">
                                        {% else %}
                                            <img width="550" height="500" src="{{ quiz.thumbnail.url }}"
                                                 alt="image">
                                        {% endif %}
                                    </a>
                                </div>
                                <div class="class-content">
                                    <div class="price">{{ quiz.players }}P</div>
                                    <h3>
                                        <a href="#">{{ quiz.title|truncatechars:50 }}</a>
                                    </h3>
                                    <p>{{ quiz.description|truncatechars:120 }}</p>
                                    <ul class="class-list">
                                        <li>
                                            <span>Age:</span>
                                            3-{{ quiz.age_limit }} Year
                                        </li>
                                        <li>
                                            <span>Class:</span>
                                            {{ quiz.grade }}
                                        </li>
                                        <li>
                                            <span>Time:</span>
                                            <small>{{ quiz.start_time }}
                                                - {{ quiz.end_time }}</small>
                                        </li>
                                    </ul>
                                    <div class="class-btn">
                                        {% if not request.user.is_authenticated %}
                                            <a href="{% url 'student-portal:quiz-enroll' quiz.pk %}"
                                               class="default-btn">
                                                Enroll Now
                                            </a>
                                        {% else %}
                                            {% if request.user.is_student %}
                                                <a href="{% url 'account_login' %}" class="default-btn">
                                                    Enroll Now
                                                </a>
                                            {% else %}
                                                <a href="{% url 'account_login' %}" class="default-btn">
                                                    Enroll Now
                                                </a>
                                            {% endif %}
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <div class="row">
                    <p class="text-center mb-0 mt-4">
                        <b>
                            <a class="" href="{% url 'website:quizzes' %}">
                                <i class="bx bx-link"></i> Want to see more Quizzes? Click Here </a>
                        </b>
                    </p>
                </div>
            {% else %}
                <div class="row">
                    <p class="text-center mb-0 text-danger">
                        <b>No Quizzes available.</b>
                    </p>
                </div>
            {% endif %}
        </div>
        <div class="class-shape">
            <div class="shape-1">
                <img src="{% static 'website/img/class/class-shape-1.png' %}" alt="image">
            </div>
            <div class="shape-2">
                <img src="{% static 'website/img/class/class-shape-2.png' %}" alt="image">
            </div>
        </div>
    </section>

    <section id="learnings" class="event-area bg-ffffff bg-color pt-100 pb-70">
        <div class="container-fluid">
            <div class="section-title">
                <span>Learning Resources</span>
                <h2>Learn by Doing</h2>
            </div>
            {% if learning %}
                <div class="row">
                    {% for learn in learning %}
                        <div class="col-lg-6">
                            <div class="event-box-item">
                                <div class="row align-items-center">
                                    <div class="col-md-3">
                                        <div class="event-image">
                                            <a href="#">
                                                {% if not learn.thumbnail %}
                                                    <img class="rounded" src="{% static 'images/no_content.png' %}"
                                                         alt="image">
                                                {% else %}
                                                    <img class="rounded" src="{{ learn.thumbnail.url }}" alt="image">
                                                {% endif %}
                                            </a>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="event-content">
                                            <h3 class="text-danger">
                                                {{ learn.title }}
                                            </h3>
                                            <p>
                                                {{ learn.description|truncatechars:120 }}
                                            </p>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="event-date">
                                            <p class="mb-0 mt-2">
                                                <a class="btn btn-danger"
                                                   href="{% url 'student-portal:learning-resource-live' learn.pk %}">
                                                    Take a Test
                                                </a>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <div class="row">
                    <p class="text-center mb-0 mt-4">
                        <b>
                            <a class="text-white" href="{% url 'website:learning-resources' %}">
                                <i class="bx bx-link"></i> Want to see more Learning Resources? Click Here </a>
                        </b>
                    </p>
                </div>
            {% else %}
                <div class="row">
                    <p class="text-center mb-0 text-danger">
                        <b>No Learning Resources available.</b>
                    </p>
                </div>
            {% endif %}
        </div>
    </section>


    {# TEAM --------------------------------------------------------------------------------------------------------- #}

    {% if dynamic %}

        {% if team %}
            <section id="team" class="teacher-area pt-100 pb-70">
                <div class="container">
                    <div class="section-title">
                        <span>Haven't Meet Experts</span>
                        <h2>Our Core Team</h2>
                    </div>
                    <div class="row">

                        {% for t  in team %}
                            <div class="col-lg-4 col-md-6">
                                <div class="single-teacher-box">
                                    <div class="">
                                        <img src="{{ t.image.url }}" class="border border-secondary p-3 rounded-circle" alt="image">
                                    </div>
                                    <div class="content">
                                        <h3>{{ t.name }}</h3>
                                        <span>{{ t.rank }}</span>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}

                    </div>
                </div>
            </section>
        {% endif %}

    {% else %}

        <section id="team" class="teacher-area pt-100 pb-70">
            <div class="container">
                <div class="section-title">
                    <span>Haven't Meet Experts</span>
                    <h2>Our Core Team</h2>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-md-6">
                        <div class="single-teacher-box">
                            <div class="image">
                                <img src="{% static 'website/img/teacher/teacher-5.png' %}" alt="image">
                            </div>
                            <div class="content">
                                <h3>Arvindh Arun</h3>
                                <span>Rank Name</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="single-teacher-box">
                            <div class="image">
                                <img src="{% static 'website/img/teacher/teacher-6.png' %}" alt="image">
                            </div>
                            <div class="content">
                                <h3>Mark I</h3>
                                <span>Rank Name</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 offset-lg-0 offset-md-3">
                        <div class="single-teacher-box">
                            <div class="image">
                                <img src="{% static 'website/img/teacher/teacher-7.png' %}" alt="image">
                            </div>
                            <div class="content">
                                <h3>IhSir</h3>
                                <span>Rank Name</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    {% endif %}

    {# PARTNERS ----------------------------------------------------------------------------------------------------- #}

    {% if dynamic %}
        {% if partners %}
            <div class="partner-area ptb-100">
                <div class="container">
                    <div class="partner-slider owl-carousel owl-theme">
                        {% for partner in partners %}
                            <div class="partner-item">
                                <img src="{{ partner.image.url }}" alt="image">
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        {% endif %}

    {% else %}

        <div class="partner-area ptb-100">
            <div class="container">
                <div class="partner-slider owl-carousel owl-theme">
                    <div class="partner-item">
                        <img src="{% static 'website/img/partner/partner-1.png' %}" alt="image">
                    </div>
                    <div class="partner-item">
                        <img src="{% static 'website/img/partner/partner-2.png' %}" alt="image">
                    </div>
                    <div class="partner-item">
                        <img src="{% static 'website/img/partner/partner-3.png' %}" alt="image">
                    </div>
                    <div class="partner-item">
                        <img src="{% static 'website/img/partner/partner-4.png' %}" alt="image">
                    </div>
                    <div class="partner-item">
                        <img src="{% static 'website/img/partner/partner-5.png' %}" alt="image">
                    </div>
                </div>
            </div>
        </div>

    {% endif %}

{% endblock %}
