{% extends 'wsite/base.html' %}
{% load static %}
{% load custom_tags %}

{% block base_title %}
    Quizzes
{% endblock %}

{% block base_css_links %}
    <!-- XDSoft DateTimePicker -->
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.min.css"
          integrity="sha256-DOS9W6NR+NFe1fUhEE0PGKY/fubbUCnOfTje2JMDw3Y=" crossorigin="anonymous"/>
{% endblock %}

{% block base_content %}
    <div class="page-banner-area item-bg1">
        <div class="d-table">
            <div class="d-table-cell">
                <div class="container">
                    <div class="page-banner-content">
                        <h2>Challenge Yourself Now</h2>
                        <ul>
                            <li>
                                <a href="/">Home</a>
                            </li>
                            <li>Quizzes</li>
                        </ul>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="partner-area ptb-100">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12">

                    <form method="get">
                        <div class="input-group mb-4">
                            {{ quiz_filter_form }}
                        </div>
                        <div class="">
                            <button class="btn btn-primary" type="submit">
                                <i class="bx bx-search"></i> Search
                            </button>
                            <a class="btn btn-danger" href="{% url 'website:learning-resources' %}">
                                <i class="bx bx-brush"></i>
                            </a>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>


    <section class="class-area pt-100 pb-100">
        <div class="container">


            <div class="row">

                {% if quiz_list %}
                    {% for object in quiz_list %}
                        <div class="col-lg-4 col-md-6">
                            <div class="single-class">
                                <div class="class-image">
                                    <a href="#">
                                        {% if not object.thumbnail %}
                                            <img width="550" height="500" src="{% static 'images/no_content.png' %}"
                                                 alt="image">
                                        {% else %}
                                            <img width="550" height="500" src="{{ object.thumbnail.url }}"
                                                 alt="image">
                                        {% endif %}
                                    </a>
                                </div>
                                <div class="class-content">
                                    <div class="price">{{ object.players }}P</div>
                                    <h3>
                                        <a href="#">{{ object.title|truncatechars:50 }}</a>
                                    </h3>
                                    <p>{{ object.description|truncatechars:120 }}</p>
                                    <ul class="class-list">
                                        <li>
                                            <span>Age:</span>
                                            3-{{ object.age_limit }} Year
                                        </li>
                                        <li>
                                            <span>Class:</span>
                                            {{ object.grade }}
                                        </li>
                                        <li>
                                            <span>Time:</span>
                                            <small>{{ object.start_time }} - {{ object.end_time }}</small>
                                        </li>
                                    </ul>
                                    <div class="class-btn">
                                        {% if not request.user.is_authenticated %}
                                            <a href="{% url 'student-portal:quiz-enroll' object.pk %}"
                                               class="default-btn">
                                                Enroll Now
                                            </a>
                                        {% else %}
                                            {% if request.user.is_student %}
                                                <a href="{% url 'account_login' %}" class="default-btn">
                                                    Enroll Now
                                                </a>
                                            {% else %}
                                                <a href="{% url 'account_login' %}" class="default-btn">
                                                    Enroll Now
                                                </a>
                                            {% endif %}
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}


                    <div class="col-lg-12 col-md-12">
                        <div class="pagination-area">
                            {% if quiz_list.has_previous %}
                                <a href="{% relative_url quiz_list.previous_page_number 'page' request.GET.urlencode %}"
                                   class="prev page-numbers">
                                    <i class='bx bx-chevron-left'></i>
                                </a>
                            {% endif %}
                            <span class="page-numbers current" aria-current="page">{{ quiz_list.number }}</span>
                            {% if quiz_list.has_next %}
                                <a href="{% relative_url quiz_list.next_page_number 'page' request.GET.urlencode %}"
                                   class="next page-numbers">
                                    <i class='bx bx-chevron-right'></i>
                                </a>
                            {% endif %}
                        </div>
                    </div>
                {% else %}
                    <p class="text-center">
                        <b class="text-danger">
                            No Quizzes available.
                        </b>
                    </p>
                {% endif %}

            </div>
        </div>
        <div class="class-shape">
            <div class="shape-1">
                <img src="{% static 'website/img/class/class-shape-1.png' %}" alt="image">
            </div>
            <div class="shape-2">
                <img src="{% static 'website/img/class/class-shape-2.png' %}" alt="image">
            </div>
        </div>
    </section>

{% endblock %}

{% block base_internal_js %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.full.min.js"
            integrity="sha256-FEqEelWI3WouFOo2VWP/uJfs1y8KJ++FLh2Lbqc8SJk=" crossorigin="anonymous"></script>
{% endblock %}

{% block base_external_js %}

    <script>
        $(document).ready(function () {

            $('label').hide();
            $('input').addClass('form-control');
            $('select').addClass('form-control');


            $('#id_start_time').datetimepicker({
                format: 'Y-m-d H:i:s',
            });
            $('#id_end_time').datetimepicker({
                format: 'Y-m-d H:i:s',
            });

        });
    </script>

{% endblock %}
