{% extends 'core/base.html' %}
{% load static %}

{% block base_title %} Questions {% endblock %}
{% block page_heading %} Questions {% endblock %}

{% block base_links %}
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.22/css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/buttons/1.6.5/css/buttons.dataTables.min.css">
{% endblock %}


{% block content %}

    <div class="card">
        <div class="card-body">
            {% if question_list %}
                <div class="card">
                    <div class="table-responsive">
                        <table class="table table-hover table-striped">
                            <thead>
                            <tr>
                                <th>SNO</th>
                                <th>Choices</th>
                                <th>Subject</th>
                                <th>Age</th>
                                <th>created</th>
                                <th>Level</th>
                                <th>View</th>
{#                                <th>Edit</th>#}
                                <th>Delete</th>
                            </tr>
                            </thead>
                            <tbody class="">

                            {% for question in question_list %}
                                <tr>
                                    <td>{{ question.pk }}</td>
                                    <td>{{ question.choices_control }}</td>
                                    <td>{{ question.subject }}</td>
                                    <td>{{ question.age_limit }}</td>
                                    <td>{{ question.created_at }}</td>
                                    <td>
                                        {% if question.level == 'e' %}
                                            <i class="fa fa-star text-warning"></i>
                                        {% elif question.level == 'm' %}
                                            <i class="fa fa-star" style="color: darkorange;"></i>
                                            <i class="fa fa-star" style="color: darkorange;"></i>
                                        {% else %}
                                            <i class="fa fa-star text-danger"></i>
                                            <i class="fa fa-star text-danger"></i>
                                            <i class="fa fa-star text-danger"></i>
                                        {% endif %}
                                    </td>
                                    <td><a href="{% url 'admin-portal:question-update' question.pk %}">
                                        <i class="fa fa-clipboard"></i> View</a>
                                    </td>
{#                                    <td><a href="{% url 'application:update_question' question.pk %}">#}
{#                                        <i class="fa fa-edit"></i> Edit</a>#}
{#                                    </td>#}
                                    <td><a class="text-danger"
                                           href="{% url 'admin-portal:question-delete' question.pk %}">
                                        <i class="fa fa-trash"></i> Delete</a>
                                    </td>
                                </tr>

                            {% endfor %}


                            </tbody>
                        </table>
                    </div>
                </div>
            {% else %}
                <div class="">
                    <div class="card border border-danger">
                        <div class="card-header bg-transparent border-danger">
                            <h5 class="my-0 text-danger">
                                <i class="mdi mdi-block-helper mr-3"></i>Questions Help</h5>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title mt-0">No Questions available</h5>
                            <p class="card-text">Admin <b>{{ request.user.username }}</b>! there is no question
                                available,
                                include some questions to attract your users, First add Quiz <a
                                        href="{% url 'application:quiz_builder' %}">Here</a> then you can add questions
                                <a href="{% url 'application:question_builder' %}">Here</a>.
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>

{% endblock %}

{% block base_internal_scripts %}

    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.6.5/js/dataTables.buttons.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.6.5/js/buttons.flash.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.6.5/js/buttons.html5.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.6.5/js/buttons.print.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.6.5/js/buttons.colVis.min.js"></script>


{% endblock %}

{% block base_external_scripts %}
    <script>
        $(document).ready(function () {
            $('table').DataTable({
                dom: 'Bfrtip',
                buttons: [
                    {
                        extend: 'colvis',
                        exportOptions: {
                            columns: ':visible'
                        },
                        text: 'Show/Hide',
                        titleAttr: 'Column Visibility'
                    },
                    {
                        extend: 'copy',
                        exportOptions: {
                            columns: ':visible'
                        },
                        text: '<i class="fa fa-copy text-dark"></i>',
                        titleAttr: 'Copy'
                    },
                    {
                        extend: 'excel',
                        exportOptions: {
                            columns: ':visible'
                        },
                        text: '<i class="fa fa-file-excel-o text-success"></i>',
                        titleAttr: 'Excel'
                    },
                    {
                        extend: 'csv',
                        exportOptions: {
                            columns: ':visible'
                        },
                        text: '<i class="fa fa-file text-success"></i>',
                        titleAttr: 'CSV'
                    },
                    {
                        extend: 'pdf',
                        exportOptions: {
                            columns: ':visible'
                        },
                        text: '<i class="fa fa-file-pdf text-danger"></i>',
                        titleAttr: 'PDF'
                    },
                    {
                        extend: 'print',
                        exportOptions: {
                            columns: ':visible'
                        },
                        text: '<i class="fa fa-print text-primary"></i>',
                        titleAttr: 'Print'
                    }
                ]
            })
            ;

        });

    </script>
{% endblock %}