{% extends 'core/base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block base_title %}Question Builder{% endblock %}

{% block page_heading %}
    Question builder
{% endblock %}
{% block content %}

    <div class="container">


        <div class="row justify-content-center">
            <div class="col-sm-8">

                <div class="card">
                    <div class="card-body">

                        <div class="p-3">
                            <form class="outer-repeater">
                                {#                            {% csrf_token %}#}
                                <div data-repeater-list="outer-group" class="outer">
                                    <div data-repeater-item="" class="outer">

                                        {# NORMAL --> FIELDS #}
                                        <div class="form-group">
                                            <label for="subject">Subject</label>
                                            <select class="form-control" id="subject" name="subject">
                                                {% for subject in subjects %}
                                                    <option value="{{ subject.pk }}">{{ subject.title }}</option>
                                                {% endfor %}

                                            </select>
                                        </div>

                                        <div class="form-group">
                                            <label for="age">Age</label>
                                            <input type="number" class="form-control" id="age" name="age"
                                                   placeholder="Targeted age">
                                        </div>

                                        <div class="form-group">
                                            <label for="age">Topics</label>
                                            <select multiple="multiple" class="form-control" id="topics" name="topics">
                                                {% for topic in topics %}
                                                    <option value="{{ topic.pk }}">{{ topic.title }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>

                                        {# REPEAT --> FIELDS --> STATEMENTS -------------------------------------------- #}
                                        <p class="font-weight-bolder mt-2">Statements</p>
                                        <div class="inner-repeater mb-4">
                                            <div data-repeater-list="inner-group" class="inner form-group">

                                                <div data-repeater-item="" class="inner mb-3 row" style=""
                                                     id="statements">
                                                    <div class="col-md-11 col-10" id="statement">
                                                        <textarea class="inner form-control" rows="5"></textarea>
                                                    </div>
                                                    <div class="col-md-1 col-2">
                                                        <button data-repeater-delete="" type="button"
                                                                class="btn btn-outline-danger inner">
                                                            <i class="fa fa-trash"></i>
                                                        </button>
                                                    </div>

                                                </div>
                                            </div>
                                            <button data-repeater-create="" type="button"
                                                    class="btn btn-outline-success inner">
                                                <i class="fa fa-plus"></i>
                                            </button>

                                        </div>

                                        {# REPEAT --> FIELDS --> STATEMENTS -------------------------------------------- #}
                                        <p class="font-weight-bolder mt-2">Options</p>
                                        <div class="inner-repeater">
                                            <div data-repeater-list="inner-group" class="inner form-group">

                                                <div data-repeater-item="" class="inner mb-3 row" style="" id="options">
                                                    <div class="col-md-10 col-8" id="option">
                                                        <input type="text" class="inner form-control"
                                                               placeholder="option">
                                                    </div>
                                                    <div class="col-md-1 col-2" id="choice">
                                                        <input type="checkbox" class="inner form-control">
                                                    </div>
                                                    <div class="col-md-1 col-2">
                                                        <button data-repeater-delete="" type="button"
                                                                class="btn btn-outline-danger inner">
                                                            <i class="fa fa-trash"></i>
                                                        </button>
                                                    </div>

                                                </div>
                                            </div>
                                            <button data-repeater-create="" type="button"
                                                    class="btn btn-outline-success inner">
                                                <i class="fa fa-plus"></i>
                                            </button>
                                        </div>

                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-body">
                        <div class="p-3">
                            <p class="text-muted"><b>NOTE: </b>This is a complete question form, feel free to add
                                statements and options, you can change it later whereas screen selection will be on
                                quiz builder during question selection.
                            </p>
                            <button class="btn btn-primary" id="submit_button">
                                <i class="fa fa-check-circle"></i> Save
                            </button>
                            <div class="mt-3">
                                <a href="{% url 'admin-portal:quiz' %}"><i class="fa fa-clock"></i> View Quizzes</a> |
                                <a href="{% url 'admin-portal:question' %}"><i class="fa fa-pager"></i> View
                                    Questions</a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
{% endblock %}

{% block base_internal_scripts %}
    <script src="{% static 'application/libs/jquery.repeater/jquery.repeater.min.js' %}"></script>
    <script src="{% static 'application/js/pages/form-repeater.int.js' %}"></script>
{% endblock %}


{% block base_external_scripts %}
    <script>

        function getCookie(name) {
            let cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                const cookies = document.cookie.split(';');
                for (let i = 0; i < cookies.length; i++) {
                    const cookie = cookies[i].trim();
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }

        const csrftoken = getCookie('csrftoken');

        $(document).ready(function () {
            let submit_button = $('#submit_button');
            let statements_div = $('#statements');
            let options_div = $('#options');
            let statements = [];
            let options = [];
            let corrects = [];
            let topics_list = [];


            submit_button.click(function (event) {
                let subject = $('#subject').val();
                let age = parseInt($('#age').val());

                let topics = $("#topics").val();


                if (!isNaN(age) && age > 0 && age <= 18) {
                    $('#statements > #statement').each(function () {
                        let statement = $(this).find('textarea').val();
                        if (statement !== '') {
                            statements.push(statement);
                        }
                    });

                    $('#options > #option').each(function () {
                        let option = $(this).find('input').val();
                        if (option !== '') {
                            options.push(option);
                        }
                    });

                    $('#options > #choice').each(function () {
                        let correct = $(this).find('input');
                        if (correct.is(":checked")) {
                            corrects.push(1);
                        } else {
                            corrects.push(0);
                        }
                    });

                    for (let i = 0; i < topics.length; i++) {
                        topics_list.push(parseInt(topics[i]))
                    }

                    let data = {
                        subject_id: subject,
                        age: age,
                        statements: statements,
                        options: options,
                        corrects: corrects,
                        topics: topics_list
                    };

                    $.ajax({
                        url: '/a/question/add/',
                        type: 'POST',
                        headers: {'X-CSRFToken': csrftoken},
                        data: data,
                    }).then(function (data, status) {
                        if (data.message === 'success') {
                            location.href = "/a/question/" + data.question + "/change/"
                        }
                    }).catch(function (err) {
                        console.log(err);
                    });
                } else {
                    alert("Please provide age must be greater than 0 and less then 19")
                }

            });
        });
    </script>
{% endblock %}
