{% extends 'base.html' %}
{% load static %}

{% block base_title %}Advertisement{% endblock %}

{% block content %}

    {% include 'message.html' %}

    <div class="container my-3">
        <div class="container">
            <div class="mb-4 bg-white">
                {# HEAD #}
                <div class="p-4 bg-light text-secondary border-bottom text-center">
                    <p class="m-0 h1">
                        {% if advertisement.event == 'a' %}
                            <i class="fa fa-bullhorn"></i>
                        {% elif advertisement.event == 'e' %}
                            <i class="fa fa-calendar"></i>
                        {% else %}
                            <i class="fa fa-list"></i>
                        {% endif %}
                    </p>
                <p class="m-0 small">
                        {{ advertisement.get_event_display }}
                    </p>
                    <p class="m-0 h3">
                        {{ advertisement.topic }}
                    </p>
                </div>

                {# BODY #}
                <div>
                    {# CONTENT #}
                    <div class="p-4">
                        {{ advertisement.content|safe }}
                        <small class="font-italic">Created: {{ advertisement.created_at }}</small>
                        {#                                        <img class="img-fluid my-3" src="{% static 'application/images/covid-image.jpg' %}">#}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
