{% extends 'base.html' %}
{% load static %}

{% block base_title %}Article{% endblock %}

{% block page_heading %}
    {# HEAD #}
    <div class="r">
        <p class="m-0 h1">
            {% if article.event == 'a' %}
                <i class="fa fa-bullhorn"></i>
            {% elif article.event == 'e' %}
                <i class="fa fa-calendar"></i>
            {% else %}
                <i class="fa fa-list"></i>
            {% endif %}
        </p>
        <p class="m-0 small">
            {{ article.get_event_display }}
        </p>
        <p class="m-0 h3">
            {{ article.topic }}
            {% if request.user.is_authenticated and request.user.is_superuser %}
                <a class="btn btn-link" href="{% url 'application:update_article' article.pk %}"><i
                        class="fa fa-edit"></i> Change</a>
            {% endif %}
        </p>
    </div>
{% endblock %}

{% block content %}

    <div class="card">
        <div class="card-body">
            <div class="mb-4 bg-white">

                {# BODY #}
                <div>
                    {# CONTENT #}
                    <div class="p-4">

                        {{ article.content|safe }}
                        <small class="font-italic">Created: {{ article.created_at }}</small>
                        {#                                        <img class="img-fluid my-3" src="{% static 'application/images/covid-image.jpg' %}">#}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
