{% extends 'base.html' %}
{% load static %}
top
{% block base_title %}Help{% endblock %}

{% block base_top_nav %}
{% endblock %}

{% block content %}

    <div class="nav bg-danger justify-content-center">
        <a class="navbar-link text-light p-1 small">
            Cocognito is under-development its just a prototype - all the text and
            designs are temporary will be changed according to application requirements
            <i class="fa fa-heart text-light"></i></a>
    </div>

    <div class="container mt-4">
        <div class="text-center">
            <p class="h1 text-center m-0">Cocognito</p>
            <p class="text-danger small">Application Designing Developments and Testing Status </p><br>
        </div>

        <div class="row justify-content-center">

            <div class="col-sm-8 p-4 bg-light border rounded">

                <p class="h3 text-center">PROTOTYPE</p>
                <div class="table-responsive">
                    <table class="table table-sm table-bordered table-hover">
                        <tbody class="text-secondary">
                        <tr>
                            <td colspan="3" class="text-center p-2 bg-success text-light small">Designed</td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td><a href="{% url 'application:home' %}">/home/</a></td>
                            <td>Events and announcements page</td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td><a href="{% url 'application:login' %}">/login/</a></td>
                            <td>Login page for student</td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td><a href="{% url 'application:parent_login' %}">/parent/login/</a></td>
                            <td>Login page for student parents</td>
                        </tr>

                        <tr>
                            <td>4</td>
                            <td><a href="{% url 'application:profile_update' %}">/profile/update/</a></td>
                            <td>After signup verification and missing details form</td>
                        </tr>

                        <tr>
                            <td>5</td>
                            <td><a href="{% url 'application:quiz_user_1' %}">/quiz/user/1/</a></td>
                            <td>During quiz user 1 screen</td>
                        </tr>

                        <tr>
                            <td>6</td>
                            <td><a href="{% url 'application:quiz_user_2' %}">/quiz/user/2/</a></td>
                            <td>During quiz user 2 screen</td>
                        </tr>

                        <tr>
                            <td>7</td>
                            <td><a href="{% url 'application:quiz_user_3' %}">/quiz/user/3/</a></td>
                            <td>During quiz user 3 screen</td>
                        </tr>

                        <tr>
                            <td colspan="3" class="text-center p-2 bg-danger text-light small">Under-Designing</td>
                        </tr>

                        <tr>
                            <td>8</td>
                            <td>/dashboard/</td>
                            <td>Student Dashboard contains graphs and other information</td>
                        </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
