{% extends 'base.html' %}
{% load static %}
{% block base_title %}Help{% endblock %}

{% block base_top_nav %}
{% endblock %}

{% block dont_include_details %}

    <div class="nav bg-danger justify-content-center">
        <a class="navbar-link text-light p-1 small">
            Cocognito is under-development its just a prototype - all the text and
            designs are temporary will be changed according to application requirements
            <i class="fa fa-heart text-light"></i></a>
    </div>

    <div class="container my-4">
        <div class="text-center">
            <p class="h1 text-center m-0">Cocognito</p>
            <p class="text-danger small">Application Designing Developments and Testing Status </p><br>
        </div>

        <div class="row justify-content-center">

            <div class="col-sm-10 p-4 bg-light border rounded">

                <p class="h3 text-center">PROTOTYPE</p>
                <div class="table-responsive">
                    <table class="table table-sm table-hover">
                        <tbody class="text-secondary">
                        <tr>
                            <td colspan="4" class="text-center p-2 bg-success text-light small">Designing</td>
                        </tr>

                        <tr>
                            <th>SNO</th>
                            <th>URL</th>
                            <th>DESCRIPTION</th>
                            <th>COMPLETED</th>
                        </tr>


{#                        // DESIGNED + ACTIVE#}
                        {% if designing %}
                            {% for design in designing %}
                            <tr>
                                <td>{{ forloop.counter }}</td>
                                <td>
                                    {% if design.active %}
                                        <a href="{{ design.url }}">
                                    {% else %}
                                        <a>
                                    {% endif %}
                                    {{ design.url }}
                                    </a>
                                </td>
                                <td>{{ design.desc }}</td>
                                {% if design.active %}
                                    <td class="text-center"><i class="fa fa-check text-success"></i></td>
                                {% else %}
                                    <td class="text-center"><i class="fa fa-times text-danger"></i></td>
                                {% endif %}
                            </tr>
                        {% endfor %}
                        {% endif %}

                        <tr>
                            <td colspan="4" class="text-center p-2 bg-light text-dark small">Under-Designing</td>
                        </tr>

{#                        // DESIGNED + DE-ACTIVE#}
                        {% if designing_ %}
                            {% for design in designing_ %}
                            <tr>
                                <td>{{ forloop.counter }}</td>
                                <td>
                                    {% if design.active %}
                                        <a href="{{ design.url }}">
                                    {% else %}
                                        <a>
                                    {% endif %}
                                    {{ design.url }}
                                    </a>
                                </td>
                                <td>{{ design.desc }}</td>
                                {% if design.active %}
                                    <td class="text-center"><i class="fa fa-check text-success"></i></td>
                                {% else %}
                                    <td class="text-center"><i class="fa fa-times text-danger"></i></td>
                                {% endif %}
                            </tr>
                        {% endfor %}
                        {% endif %}


                        <tr>
                            <td colspan="4" class="text-center p-2 bg-danger text-light small">Development</td>
                        </tr>

                        <tr>
                            <th>SNO</th>
                            <th>URL</th>
                            <th>DESCRIPTION</th>
                            <th>COMPLETED</th>
                        </tr>

                        {% if development %}
                            {% for develop in development %}
                            <tr>
                                <td>{{ forloop.counter }}</td>
                                <td>
                                    {% if develop.active %}
                                        <a href="{{ develop.url }}">
                                    {% else %}
                                        <a>
                                    {% endif %}
                                    {{ develop.url }}
                                    </a>
                                </td>
                                <td>{{ develop.desc }}</td>
                                {% if develop.active %}
                                    <td class="text-center"><i class="fa fa-check text-success"></i></td>
                                {% else %}
                                    <td class="text-center"><i class="fa fa-times text-danger"></i></td>
                                {% endif %}
                            </tr>
                        {% endfor %}
                        {% endif %}

                        <tr>
                            <td colspan="4" class="text-center p-2 bg-light text-dark">Under-Development</td>
                        </tr>

                        {% if development_ %}
                            {% for develop in development_ %}
                            <tr>
                                <td>{{ forloop.counter }}</td>
                                <td>
                                    {% if develop.active %}
                                        <a href="{{ develop.url }}">
                                    {% else %}
                                        <a>
                                    {% endif %}
                                    {{ develop.url }}
                                    </a>
                                </td>
                                <td>{{ develop.desc }}</td>
                                {% if develop.active %}
                                    <td class="text-center"><i class="fa fa-check text-success"></i></td>
                                {% else %}
                                    <td class="text-center"><i class="fa fa-times text-danger"></i></td>
                                {% endif %}
                            </tr>
                        {% endfor %}
                        {% endif %}

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
