{% extends 'base.html' %}
{% load static %}

{% block base_title %}Home{% endblock %}

{% block content %}

    <div class="container my-5 text-center">
        <h1 class="">COCOGNITE</h1>
        <small class="text-muted"><b class="text-danger">NOTE >> </b>Hang on cocognite web app is under-development
            watch below umair is working hard to make it done</small>
        <hr class="shadow border border-danger">
        <img src="{% static 'images/constructionicon_1.gif' %}">
    </div>

{% endblock %}
