{% extends 'base.html' %}
{% load static %}

{% block base_title %}Home{% endblock %}

{% block content %}

    {% include 'message.html' %}

    <div class="container my-3">
        {% if articles %}
            <div class="row ">
                <div class="col-sm-8">
                    {% for article in articles %}
                        <div class="border mb-4 bg-white">
                            {# HEAD #}
                            <div class="p-4 bg-light text-secondary border-bottom">
                                <a class="text-secondary"
                                   href="{% url 'application:article' article.pk %}">
                                    <table class="small">
                                        <tr>
                                            <td>
                                                <b>
                                                    {% if article.event == 'a' %}
                                                        <i class="fa fa-bullhorn"></i>
                                                    {% elif article.event == 'e' %}
                                                        <i class="fa fa-calendar"></i>
                                                    {% else %}
                                                        <i class="fa fa-list"></i>
                                                    {% endif %}
                                                    {{ article.get_event_display }}
                                                </b>
                                                placed for
                                                <b></b>
                                                <b>{{ article.topic }}</b><br>
                                            </td>
                                        </tr>
                                    </table>
                                </a>
                            </div>

                            {# BODY #}
                            <div>
                                {# CONTENT #}
                                <div class="p-4 small">
                                    {{ article.content|safe }}
                                    <small class="font-italic">Created: {{ article.created_at }}</small>
                                    {#                                        <img class="img-fluid my-3" src="{% static 'application/images/covid-image.jpg' %}">#}
                                </div>
                            </div>
                        </div>
                    {% endfor %}


                </div>
                <div class="col-sm-4">
                    <div class="border bg-light p-4 mb-4">
                        <h3>Articles</h3>
                        <hr>
                        <ul class="list-unstyled">
                            {% for article in articles %}
                                <li><a href="{% url 'application:article' article.pk %}">
                                    {% if article.event == 'a' %}
                                        <i class="fa fa-bullhorn"></i>
                                    {% elif article.event == 'e' %}
                                        <i class="fa fa-calendar"></i>
                                    {% else %}
                                        <i class="fa fa-list"></i>
                                    {% endif %}
                                    {{ article.topic }}</a></li>
                            {% endfor %}


                        </ul>
                    </div>


                    <div class="border bg-light p-4">
                        <p class="small text-secondary">Some text to show message about upper two divisions or questions
                            etc.</p>
                        <button class="btn btn-sm btn-danger">Any Question?</button>
                    </div>
                </div>
            </div>
        {% else %}
            <div>
                <p class="p-4 border border-danger text-danger text-center">
                <small class="small m-0">Coconito says.</small><br>
                <b class="h2">No events and announcements yet</b>
                </p>
            </div>
        {% endif %}
    </div>
{% endblock %}
