{% extends 'base.html' %}
{% load static %}

{% block base_title %}Home{% endblock %}

{% block content %}
    <div class="container my-3">

        <div class="row ">

            <div class="col-sm-8">
                {# {% for event_advertisement in event_advertisements %}#}

                {# Ad Normal 1 #}
                <div class="border mb-4 bg-white">
                    {# HEAD #}
                    <div class="p-4 bg-light text-secondary border-bottom">
                        <table class="small">
                            <tr>
                                <td>
                                    <b><a class="text-dark"
                                          href="#"><i class="fa fa-bullhorn"></i> Announcement </a></b>
                                    for
                                    <b></b>
                                    <b>some_topic_name_here</b><br>
                                </td>
                            </tr>
                        </table>
                    </div>

                    {# BODY #}
                    <div>
                        {# CONTENT #}
                        <div class="p-4 small">
                            <p>
                                Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a
                                piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard
                                McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of
                                the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through
                                the cites of the word in classical literature, discovered the undoubtable source. Lorem
                                Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The
                                Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the
                                theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum,
                                "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.

                                The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those
                                interested. Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero
                                are also reproduced in their exact original form, accompanied by English versions from
                                the 1914 translation by H. Rackham.
                            </p>
                            <small class="font-italic">Created: 21-21-21</small>
                            {#                                        <img class="img-fluid my-3" src="{% static 'application/images/covid-image.jpg' %}">#}
                        </div>
                    </div>
                </div>

                {# Ad Normal 2 #}
                <div class="border mb-4 bg-white">
                    {# HEAD #}
                    <div class="p-4 bg-light text-secondary border-bottom">
                        <table class="small">
                            <tr>
                                <td>
                                    <b><a class="text-dark"
                                          href="#"><i class="fa fa-calendar"></i> Event </a></b>
                                    placed for
                                    <b></b>
                                    <b>some_topic_name_here</b><br>
                                </td>
                            </tr>
                        </table>
                    </div>

                    {# BODY #}
                    <div>
                        {# CONTENT #}
                        <div class="p-4 small">
                            <p>
                                Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a
                                piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard
                                McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of
                                the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through
                                the cites of the word in classical literature, discovered the undoubtable source. Lorem
                                Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The
                                Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the
                                theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum,
                                "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.

                                The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those
                                interested. Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero
                                are also reproduced in their exact original form, accompanied by English versions from
                                the 1914 translation by H. Rackham.
                            </p>
                            <small class="font-italic">Created: 21-21-21</small>
                            {#                                        <img class="img-fluid my-3" src="{% static 'application/images/covid-image.jpg' %}">#}
                        </div>
                    </div>
                </div>

                {# Ad Normal 3 #}
                <div class="border mb-4 bg-white">
                    {# HEAD #}
                    <div class="p-4 bg-light text-secondary border-bottom">
                        <table class="small">
                            <tr>
                                <td>
                                    <b><a class="text-dark"
                                          href="#"><i class="fa fa-bullhorn"></i> Announcement </a></b>
                                    for
                                    <b></b>
                                    <b>some_topic_name_here</b><br>
                                </td>
                            </tr>
                        </table>
                    </div>

                    {# BODY #}
                    <div>
                        {# CONTENT #}
                        <div class="p-4 small">
                            <p>
                                Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a
                                piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard
                                McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of
                                the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through
                                the cites of the word in classical literature, discovered the undoubtable source. Lorem
                                Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The
                                Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the
                                theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum,
                                "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.

                                The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those
                                interested. Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero
                                are also reproduced in their exact original form, accompanied by English versions from
                                the 1914 translation by H. Rackham.
                            </p>
                            <small class="font-italic">Created: 21-21-21</small>
                            {#                                        <img class="img-fluid my-3" src="{% static 'application/images/covid-image.jpg' %}">#}
                        </div>
                    </div>
                </div>

                {# Ad Normal 4 #}
                <div class="border mb-4 bg-white">
                    {# HEAD #}
                    <div class="p-4 bg-light text-secondary border-bottom">
                        <table class="small">
                            <tr>
                                <td>
                                    <b><a class="text-dark"
                                          href="#"><i class="fa fa-bullhorn"></i> Announcement </a></b>
                                    for
                                    <b></b>
                                    <b>some_topic_name_here</b><br>
                                </td>
                            </tr>
                        </table>
                    </div>

                    {# BODY #}
                    <div>
                        {# CONTENT #}
                        <div class="p-4 small">
                            <p>
                                Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a
                                piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard
                                McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of
                                the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through
                                the cites of the word in classical literature, discovered the undoubtable source. Lorem
                                Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The
                                Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the
                                theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum,
                                "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.

                                The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those
                                interested. Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero
                                are also reproduced in their exact original form, accompanied by English versions from
                                the 1914 translation by H. Rackham.
                            </p>
                            <small class="font-italic">Created: 21-21-21</small>
                            {#                                        <img class="img-fluid my-3" src="{% static 'application/images/covid-image.jpg' %}">#}
                        </div>
                    </div>
                </div>

                {# Ad Normal 5 #}
                <div class="border mb-4 bg-white">
                    {# HEAD #}
                    <div class="p-4 bg-light text-secondary border-bottom">
                        <table class="small">
                            <tr>
                                <td>
                                    <b><a class="text-dark"
                                          href="#"><i class="fa fa-bullhorn"></i> Announcement </a></b>
                                    for
                                    <b></b>
                                    <b>some_topic_name_here</b><br>
                                </td>
                            </tr>
                        </table>
                    </div>

                    {# BODY #}
                    <div>
                        {# CONTENT #}
                        <div class="p-4 small">
                            <p>
                                Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a
                                piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard
                                McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of
                                the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through
                                the cites of the word in classical literature, discovered the undoubtable source. Lorem
                                Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The
                                Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the
                                theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum,
                                "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.

                                The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those
                                interested. Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero
                                are also reproduced in their exact original form, accompanied by English versions from
                                the 1914 translation by H. Rackham.
                            </p>
                            <small class="font-italic">Created: 21-21-21</small>
                            {#                                        <img class="img-fluid my-3" src="{% static 'application/images/covid-image.jpg' %}">#}
                        </div>
                    </div>
                </div>


                {#            {% endfor %}#}
            </div>
            <div class="col-sm-4">
                <div class="border bg-light p-4 mb-4">
                    <h2>UPCOMING</h2>
                    <hr>
                    <ul class="list-unstyled">
                        <li><a href="#"><i class="fa fa-calendar"></i> upcoming events or assignments</a></li>
                        <li><a href="#"><i class="fa fa-bullhorn"></i> Contrary to popular belief, Lorem</a></li>
                        <li><a href="#"><i class="fa fa-calendar"></i> sections 1.10.32 and 1.10.33 of "de </a></li>
                        <li><a href="#"><i class="fa fa-calendar"></i> written in 45 BC. This book is a </a></li>
                        <li><a href="#"><i class="fa fa-bullhorn"></i> English versions from the 1914</a></li>
                    </ul>
                </div>

                <div class="border bg-light p-4 mb-4">
                    <h2>PREVIOUS</h2>
                    <hr>
                    <ul class="list-unstyled">
                        <li><a href="#"><i class="fa fa-calendar"></i> upcoming events or assignments</a></li>
                        <li><a href="#"><i class="fa fa-bullhorn"></i> Contrary to popular belief, Lorem</a></li>
                        <li><a href="#"><i class="fa fa-calendar"></i> sections 1.10.32 and 1.10.33 of "de </a></li>
                        <li><a href="#"><i class="fa fa-calendar"></i> written in 45 BC. This book is a </a></li>
                        <li><a href="#"><i class="fa fa-bullhorn"></i> English versions from the 1914</a></li>
                    </ul>
                </div>

                <div class="border bg-light p-4">
                    <p class="small text-secondary">Some text to show message about upper two divisions or questions
                        etc.</p>
                    <button class="btn btn-sm btn-danger">Any Question?</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
