{% extends 'base.html' %}
{% load static %}

{% block base_title %}Learning Resource{% endblock %}

{% block base_top_nav %}
    {% include 'base_top_nav.html' %}
{% endblock %}

{% block content %}
    <body>
    <div class="bg-blue h-100 py-5">
        <div class="text-center text-light">
            <img src="{% static 'images/nologo.png' %}" class="rounded-circle" height="100px;">
            <p class="m-0 text-secondary">COCOGNITO</p>
            <small class="m-0 text-secondary"><i>"YOUR_TAG_LINE_HERE: something great happening soon."</i></small>
        </div>

        <div class="container py-5 text-left">
            <div class="row justify-content-center">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Title</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% if quizzes %}
                        {% for quiz in quizzes %}
                            <tr>
                                <th scope="row">{{ quiz.pk }}</th>
                                <td><a href="/learning_resource_quiz/?id={{ quiz.id }}">{{ quiz.title }}</a></td>
                            </tr>
                        {% endfor %}
                    {% endif %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    </body>

{% endblock %}