{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block base_title %}Update{% endblock %}

{% block page_heading %}
    User Profile<br>
    <a class="btn btn-sm btn-link" href="{% url 'account_email' %}">
        <i class="fa fa-envelope"></i> Email Change
    </a>
    <a class="btn btn-sm btn-link text-danger" href="{% url 'application:coming_soon' %}">
        <i class="fa fa-angry"></i> Delete/Deactivate Account
    </a>
{% endblock %}
{% block content %}
    <div class="container">

        <div class="row">
            <div class="col-sm-8">
                <div class="card">
                    <div class="card-header">
                        <p class="card-title">Profile Image </p>
                    </div>
                    <div class="card-body">
                        <div class="text-center">
                            <a target="_blank" href="{{ image_form.instance.profile.url }}">
                                <img src="{{ image_form.instance.profile.url }}"
                                     class="rounded-circle img-fluid img-responsive" height="200px" width="200px">
                            </a>
                        </div>
                        <hr class="border border-danger">
                        <form method="post" action="/profile/?action=image" enctype="multipart/form-data">
                            {% csrf_token %}
                            {{ image_form | crispy }}
                            <div>
                                <button type="submit" class="btn btn-primary">Save Changes</button>
                            </div>
                        </form>
                    </div>
                </div>

                <div class="card">
                    <div class="card-header">
                        <p class="card-title">Basic Details</p>
                    </div>
                    <div class="card-body">
                        <form method="post" action="/profile/?action=basic">
                            {% csrf_token %}
                            {{ basic_form | crispy }}
                            <div>
                                <button type="submit" class="btn btn-primary">Save Changes</button>
                            </div>
                        </form>
                    </div>
                </div>

                {% if not request.user.is_superuser %}
                    <div class="card">
                        <div class="card-header">
                            <p class="card-title">Contact and Other</p>
                        </div>
                        <div class="card-body">
                            <form method="post" action="/profile/?action=other">
                                {% csrf_token %}
                                {{ other_form | crispy }}
                                <div>
                                    <button type="submit" class="btn btn-primary">Save Changes</button>
                                </div>
                            </form>
                        </div>
                    </div>
                {% endif %}
            </div>

            {% if not request.user.is_superuser %}
                <div class="col-sm-4">
                    <div class="card">
                        <div class="card-header">
                            <p class="card-title">Guardian Details</p>
                        </div>
                        <div class="card-body">
                            <form method="post" action="/profile/?action=guardian">
                                {% csrf_token %}
                                {{ guardian_form | crispy }}
                                <div>
                                    <button type="submit" class="btn btn-primary">Save Changes</button>
                                </div>
                            </form>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-header">
                            <p class="card-title">School Details</p>
                        </div>
                        <div class="card-body">
                            <form method="post" action="/profile/?action=school">
                                {% csrf_token %}
                                {{ school_form | crispy }}
                                <div>
                                    <button type="submit" type="submit" class="btn btn-primary">Save Changes</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            {% endif %}

        </div>
    </div>
{% endblock %}
