{% extends 'base.html' %}
{% load static %}

{% block base_title %}Update{% endblock %}

{% block content %}
    <div class="container my-3">

        <div class="row">
            <div class="col-sm-8">
                <div class=" p-4 mb-4">
                    <div class="text-center">
                        <img src="{% static 'images/nologo.png' %}" height="200px" class="rounded-circle"><br><br>
                        <p>example_email@gmail.com<br>
                            <small class="p-1 bg-success text-light"><i class="fa fa-check"></i> VERIFIED</small>
                        </p>

                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">First Name</label>
                        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Last Name</label>
                        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                    </div>

                    <div class="form-group">
                        <label for="exampleInputEmail1">Date of Birth</label>
                        <input type="date" class="form-control" id="exampleInputEmail1"
                               aria-describedby="emailHelp">
                    </div>

                    <div>
                        <button class="btn btn-sm btn-success">Save Changes</button>
                    </div>


                </div>
            </div>

            <div class="col-sm-4">
                <div class="mb-4 border border-success">
                    <p class="small text-light bg-success p-3 m-0"><i class="fa fa-check"></i> Your school is verified.
                    </p>
                    <div class="p-4">

                        <p class="text-center m-0">School_Name_Here</p>
                        <p class="text-center small text-muted">School_Email_Or_ID_Here</p>
                        {#                        <input class="form-control mb-1" type="email" disabled placeholder="example@gmail.com">#}
                        <input class="form-control mb-1" type="email" disabled placeholder="GRADE: 3rd">
                        <input class="form-control mb-1" type="email" disabled placeholder="SECTION: rose">
                        <p class="small">Your school account on cocognito is registered with the school above you are
                            not allowed to change it now if you have any problem please consult <a href="#">COCOGNITO
                                TEAM</a>.
                        </p>
                    </div>
                </div>
                <div class="mb-4 border border-danger">
                    <p class="small text-light bg-danger p-3 m-0"><i class="fa fa-times"></i> Your parent account is
                        not available.</p>
                    <div class="p-4">
                        <input class="form-control form-control-sm" type="email"
                               placeholder="Enter email here"><br>
                        <p class="small">Before using parent email here make sure your parent account is registered if
                            not ask your parents to register <a href="#">Here</a>.
                        </p>
                        <button class="btn btn-sm btn-danger">Register</button>
                    </div>
                </div>
            </div>

        </div>
    </div>
{% endblock %}
