{% extends 'base.html' %}
{% load static %}
{% load tz %}

{% block base_title %}QUIZ > SCREEN{% endblock %}


{% if allowed_to_start %}
    {% block base_links %}
        <script>

            history.pushState(null, null, location.href);
            window.onpopstate = function () {
                history.go(1);
            };

        </script>

    {% endblock %}
{% endif %}

{% block base_top_nav %}{% endblock %}

{% block dont_include_details %}
    {% if allowed_to_start %}
        <div>
            <div class="bg-danger text-light text-center">
                {% if quiz.players != '1' %}
                    <p class="p-2 small">
                        quiz <strong>{{ quiz.title }}</strong> is a collaborative quiz. The question statements and
                        answer choices appear divided among
                        the participants. Please talk to your team members to know what is displayed on their screens
                        and then answer the question
                    </p>
                {% else %}
                    <p class="p-2 small"><i class="fa fa-warning"></i>
                        quiz <strong>{{ quiz.title }}</strong> is a single-player quiz, no more participants are allowed
                        , all options and hints are
                        visible to you.
                    </p>
                {% endif %}
            </div>

            <div class="container pt-4">
                <div class="row ">
                    <div class="col-sm-9">

                        {# 1-QUESTION #}
                        <div id="question_div" data-question="0">

                            <div class="">
                                <div class="card">
                                    <div class="card-body py-0 pt-2">
                                        <div class="clearfix pb-2 border-bottom">
                                            <small class="h3 font-weight-bolder" id="count_down"></small>
                                            <div class="float-right" id="submission_control_div">
                                                {% if submission_control == '1' %}
                                                    <button class="btn btn-sm btn-secondary small" id="button_skip"><i
                                                            class="fa fa-refresh"></i>
                                                        Skip
                                                    </button>
                                                    <button class="btn btn-sm btn-primary small" id="button_submit"><i
                                                            class="fa fa-check"></i>
                                                        Submit
                                                    </button>
                                                {% endif %}
                                                <a class="btn btn-danger btn-sm" id="button_end"
                                                   href="{% url 'application:quizes' %}"><i
                                                        class="fa fa-times"></i>
                                                    Cancel
                                                </a>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class=" mini-stats-wid">
                                                    <div class="card-body">
                                                        <div class="media">
                                                            <div class="media-body">
                                                                <p class="text-muted font-weight-medium">Total</p>
                                                                <h5 class="mb-0" id="total">00</h5>
                                                            </div>

                                                            <div class="mini-stat-icon avatar-sm rounded-circle bg-primary align-self-center">
                                                        <span class="avatar-title">
                                                            <i class="bx bx-flag font-size-24"></i>
                                                        </span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="mini-stats-wid">
                                                    <div class="card-body">
                                                        <div class="media">
                                                            <div class="media-body">
                                                                <p class="text-muted font-weight-medium">Attempted</p>
                                                                <h4 class="mb-0" id="total_attempted">00</h4>
                                                            </div>

                                                            <div class="avatar-sm rounded-circle bg-primary align-self-center mini-stat-icon">
                                                        <span class="avatar-title rounded-circle bg-success">
                                                            <i class="bx bx-check-circle font-size-24"></i>
                                                        </span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="mini-stats-wid">
                                                    <div class="card-body">
                                                        <div class="media">
                                                            <div class="media-body">
                                                                <p class="text-muted font-weight-medium">Remaining</p>
                                                                <h4 class="mb-0" id="total_remains">00</h4>
                                                            </div>

                                                            <div class="avatar-sm rounded-circle bg-primary align-self-center mini-stat-icon">
                                                        <span class="avatar-title rounded-circle bg-danger">
                                                            <i class="bx bx-rotate-left font-size-24"></i>
                                                        </span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="">
                                    {# STATEMENTS #}
                                    <div class="card border" id="main_statements_div">
                                        <div class="card-header"><p class="card-title">QUESTION <b id="question_no"></b> STATEMENT</p></div>
                                        <div class="card-body">

                                            <div id="statements_div" class="mb-4">

                                            </div>
                                        </div>
                                    </div>


                                    {# choices #}
                                    <div class="card border" id="main_choices_div">
                                        <div class="card-header">
                                            <p class="card-title">CHOICES</p>
                                        </div>
                                        <div class="card-body">

                                            <div id="choices_div" class="mb-4">

                                            </div>
                                        </div>
                                    </div>

                                    {# IMAGES #}
                                    <div class="card border" id="main_images_div">
                                        <div class="card-header">
                                            <p class="card-title">IMAGE HINT</p>
                                        </div>
                                        <div class="card-body">

                                            <div id="images_div" class="mb-4">

                                            </div>
                                        </div>
                                    </div>

                                    {# AUDIOS #}
                                    <div class="card border" id="main_audios_div">
                                        <div class="card-header">
                                            <p class="card-title">AUDIO HINT</p>
                                        </div>
                                        <div class="card-body">
                                            <div id="audios_div" class="mb-4">

                                            </div>
                                        </div>
                                    </div>

                                </div>

                            </div>

                        </div>

                    </div>
                    {% if quiz.players != '1' %}
                        <div class="col-sm-3">
                            <div class="card">
                                <div class="card-body">
                                    <div>
                                        <p class="card-title">Zoom Meeting For Quiz</p>
                                        <button class="btn btn-block btn-light" onclick="openWin()">Start Your Meeting
                                            in New
                                            window
                                        </button>
                                    </div>
                                    <div class="mt-4">
                                        <p class="card-title">Resources</p>
                                        <div class="btn-group-vertical btn-block">
                                            <a href="{% url 'application:dashboard' %}" class="btn btn-info">Go to My
                                                Dashboard</a>
                                            <a href="{% url 'application:dashboard' %}" class="btn btn-secondary">Go to
                                                Event
                                                Dashboard</a>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endif %}

                </div>
            </div>
        </div>
    {% else %}
        <div>
        <div class="container my-5">
            <div>
                {% if time_status == 'past' %}

                    <div class="alert alert-danger alert-dismissible fade show p-5" role="alert"
                         style="background-color: #eb5e0b;" id="blink">
                    <div class="text-center">
                        <p class="m-0 h1"><i class="fa fa-ban text-white"></i></p>
                        <p class="m-0 h1 text-white"><strong>THE QUIZ HAS BEEN EXPIRED</strong></p>
                        <hr class="border">
                        <div class="text-left">
                            <ul class="text-white">
                                <li>You requested quiz is not available now.</li>
                                <li>Quiz was ended on <b>{{ quiz_end_date }}</b></li>
                                <li>If you were registered and didn't attempted the quiz, quiz is expired now.</li>
                                <li>If you want to see your previous results please go back to your <a
                                        href="{% url 'application:dashboard' %}">Dashboard</a>.
                                </li>
                                <li>If you were not registered with this quiz and didn't attempted, it doesn't effect
                                    your
                                    marks sheet, because you are not associated.
                                </li>
                                <li>There is no quiz data available now, illegal attempts to access alerts the
                                    system to ban you from cocognito.
                                </li>
                                <li>Need any help, you will found <a href="#">HERE</a>.</li>
                            </ul>
                        </div>
                        <div class="text-left">
                            <a href="{% url 'application:quizes' %}" class="btn btn-light"><i
                                    class="fa fa-backward"></i> Back To Quizes</a>
                        </div>
                    </div>

                {% elif time_status == 'future' %}
                    <div class="alert alert-warning text-white alert-dismissible fade show p-5" role="alert"
                         style="background-color: #eb5e0b;" id="blink">
                        <div class="text-center">
                            <p class="m-0 h1"><i class="fa fa-exclamation-triangle text-white"></i></p>
                            <p class="m-0 h1 text-white"><strong>THE QUIZ HAS NOT STARTED YET!</strong></p>
                            <p class="m-0 h2 text-white" id="future_time"><strong></strong></p>
                            <hr class="border">
                            <div class="text-left">
                                <ul class="">
                                    <li>The quiz will be available on <b>{{ quiz_start_date }}</b></li>
                                    <li>Need help? click <a href="#">here</a>.</li>
                                </ul>
                            </div>
                            <div class="text-left">
                                <a href="{% url 'application:quizes' %}" class="btn btn-light"><i
                                        class="fa fa-backward"></i> Back To Quizes</a>
                            </div>
                        </div>
                    </div>
                {% endif %}
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}

{% if allowed_to_start %}
    {% block base_internal_scripts %}
        <script src="{% static 'js/refresh.js' %}"></script>
        <script src="{% static 'js/right_click.js' %}"></script>
        <script src="{% static 'js/back_click.js' %}"></script>
        <script src="{% static 'js/moments.js' %}"></script>
    {% endblock %}
{% endif %}

{% block base_external_scripts %}
    <script>

        let protection = true;
        if (protection === true) {
            window.onbeforeunload = function () {
                return "Are you sure you want to leave?";
            };

            window.onbeforeunload = function () {
                return "Are you sure you want to leave?";
            };

            history.pushState(null, null, location.href);
            window.onpopstate = function () {
                history.go(1);
            };
        }


        {% if allowed_to_start %}

            if (window.history.replaceState) {
                window.history.replaceState(null, null, window.location.href);
            }

            skip = 0;

            active_async = false;
            end_async = false;
            submission_control = {{ submission_control }};

            $(document).on("keydown", disableF5);

            let question_now = null;
            let question_end = null;

            total = $('#total');
            attempted = $('#total_attempted');
            remains = $('#total_remains');
            var myWindow;


            question_div = $('#question_div');
            images_div = $('#images_div');
            images_main_div = $('#main_images_div');
            audios_div = $('#audios_div');
            audios_main_div = $('#main_audios_div');
            statements_div = $('#statements_div');
            statements_main_div = $('#main_statements_div');
            choices_div = $('#choices_div');
            choices_main_div = $('#main_choices_div');

            button_submit = $('#button_submit');
            button_skip = $('#button_skip');

            question_ids = {{ question_ids }};
            question_div_id = parseInt(question_div.data('question'));

            {# INITIALIZATION #}
            initialization();

            {# ----------------------------------------------------------------------------------------------------- #}
            {#                                   STARTER_FUNCTION                                                    #}
            {# ----------------------------------------------------------------------------------------------------- #}

            function initialization() {

                countdown();
                x_accessor();


                button_submit.click(function (event) {
                    event.preventDefault();
                    submit_question();
                });

                button_skip.click(function (event) {
                    event.preventDefault();
                    {#question_ids.shift();#}
                    skip = 1;
                    x_accessor();
                });

            }

            {# ----------------------------------------------------------------------------------------------------- #}
            {#                                   QUIZ_CONTROL_SYSTEM                                                 #}
            {# ----------------------------------------------------------------------------------------------------- #}

            function x_accessor() {
                if (question_ids.length > 1) {
                    $.get('/c/api/quiz/{{ quiz_id }}/question/' + question_ids[0] + '/num/{{ user_no }}/skip/' + skip + '/', function (data) {

                        {# 1 > CLEANING ON EACH CALL #}
                        clean_all();
                        console.log(data);
                        question_now = get_time_formatted();
                        question_ids = data.questions;

                        total.text(data.total);
                        attempted.text(data.attempts);
                        remains.text(data.remains);

                        {# 2 > SUBMISSION_CONTROL_CHECK #}
                        question_div.attr('data-question', data.question);

                        if (submission_control == '1') {
                            choices_main_div.show();
                            for (let index = 0; index < data.choices_keys.length; index++) {
                                choices_div.append(
                                    `<input class="mb-2" type="radio" name="ans" id="ans"
                                     value="${data.choices_keys[index]}">
                                     <label for="ans">&nbsp;&nbsp;${data.choices_values[index]}</label><br>
                                    `
                                );
                            }
                        } else {
                            choices_main_div.hide();
                            if (active_async == false) {
                                active_async = true;
                                async_question_next_sync();
                            }
                        }

                        {# 4 > FETCHING STATEMENTS #}
                        if (data.statements.length > 0) {
                            statements_main_div.show();
                            for (x of data.statements) {
                                statements_div.append(`<p> ${x} </p>`);
                            }
                        } else {
                            statements_main_div.hide();
                        }

                        {# 5 > FETCHING IMAGES #}
                        if (data.images.length > 0) {
                            images_main_div.show();
                            for (x of data.images) {
                                images_div.append(`<a href="${x}" target="_blank">
                                                      <img src="${x}" class="p-2 img-responsive" height="320px">
                                                   </a>`
                                );
                            }
                        } else {
                            images_main_div.hide();
                        }

                        {# 6 > FETCHING AUDIOS #}
                        if (data.audios.length > 0) {
                            audios_main_div.show();
                            for (x of data.audios) {
                                audios_div.append(`<source src="${x}"/>`);
                            }
                        } else {
                            audios_main_div.hide();
                        }
                    });
                } else {
                    alert("Your quiz submitted successfully");
                    {#window.close();#}
                    window.location = {% url 'application:quizes' %};
                }
            }

            function submit_question() {
                let next = false;
                let end = 0;
                let choice = $("input[type='radio'][name='ans']:checked");

                if (question_ids.length == 1) {
                    end = 1;
                    protection = false;
                }

                if (choice.length > 0) {

                    {% now "jS F Y H:i:s" as nn %}
                    question_end = get_time_formatted();

                    // TODO: csrf security required _ avoid csrf_exempt in deployment
                    $.post("/c/api/submit/question/",
                        {
                            quiz_id: {{ quiz_id }},
                            question_id: question_div.attr('data-question'),
                            choice_id: choice.val(),
                            team_id: {{ team_id }},
                            end: end,
                            start_time: question_now,
                            end_time: question_end,
                        }, function (data, status) {

                            if (data.success === false) {
                                alert(data.message);
                            } else {
                                x_accessor();
                            }
                        });
                } else {
                    alert("Please Select any option to continue");
                }

            }

            function clean_all() {
                {#question_ids.shift();#}
                statements_div.html('');
                images_div.html('');
                audios_div.html('');
                choices_div.html('');
            }

            function is_next() {
                let end = 'False';
                if (question_ids == undefined) {
                    end = 'True';
                } else {
                    $.post("/c/api/next/question/",
                        {
                            quiz_id: {{ quiz_id }},
                            question_id: question_div.attr('data-question'),
                            team_id: {{ team_id }},
                            question_ids: question_ids.toString(),
                            end: end,

                        }, function (data, status) {
                            if (data.end == 'True') {
                            } else {
                                if (data.change == true) {
                                    x_accessor();
                                }
                            }
                        })
                    ;
                }
            }

            function async_question_next_sync() {
                setInterval(function () {
                    is_next();
                }, 3000);
            }

            {# ----------------------------------------------------------------------------------------------------- #}
            {#                              QUIZ_TIME_CALCULATION > FUNCTIONS                                        #}
            {# ----------------------------------------------------------------------------------------------------- #}

            function countdown() {
                var countDownDate = new Date({{ quiz_end_date|date:"U" }} * 1000
            ).
                getTime();

                // Update the count down every 1 second
                var x = setInterval(function () {

                    // Get today's date and time
                    var now = new Date().getTime();

                    // Find the distance between now and the count down date
                    var distance = countDownDate - now;

                    let s = '';
                    var days = Math.floor(distance / (1000 * 60 * 60 * 24));
                    var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
                    var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
                    var seconds = Math.floor((distance % (1000 * 60)) / 1000);

                    if (days != 0) {
                        s += days + "d "
                    }
                    if (hours != 0) {
                        s += hours + "h "
                    }
                    if (minutes != 0) {
                        s += minutes + "m "
                    }
                    if (seconds != 0) {
                        s += seconds + "s "
                    }

                    // Output the result in an element with id="demo"
                    document.getElementById("count_down").innerHTML = s;

                    // If the count down is over, write some text
                    if (distance < 0) {
                        clearInterval(x);
                        document.getElementById("count_down").innerHTML = "Time Up!";
                    }
                }, 1000);
            }

            function get_time_formatted() {
                let date_ob = new Date();
                let date = ("0" + date_ob.getDate()).slice(-2);
                let month = ("0" + (date_ob.getMonth() + 1)).slice(-2);
                let year = date_ob.getFullYear();
                let hours = date_ob.getHours();
                let minutes = date_ob.getMinutes();
                let seconds = date_ob.getSeconds();

                return year + "-" + month + "-" + date + " " + hours + ":" + minutes + ":" + seconds;
            }

            function disableF5(e) {
                if ((e.which || e.keyCode) == 116) e.preventDefault();
            }

            function openWin() {
                myWindow = window.open("{{ zoom_join_url }}", "myWindow", "width=500,height=500");
            }

            function closeWin() {
                myWindow.close();
            }


            {# -----------------------------------------------END--------------------------------------------------- #}
        {% else %}

            {% if time_status == 'past' %}
                setInterval(function () {
                    $("#blink").fadeToggle();
                }, 1000);
            {% elif time_status == 'future' %}
                countdown_timer();
                function countdown_timer() {
                    var countDownDate = new Date({{ quiz_start_date|date:"U" }} * 1000
                ).
                    getTime();

                    // Update the count down every 1 second
                    var x = setInterval(function () {

                        // Get today's date and time
                        var now = new Date().getTime();

                        // Find the distance between now and the count down date
                        var distance = countDownDate - now;

                        // Time calculations for days, hours, minutes and seconds
                        var days = Math.floor(distance / (1000 * 60 * 60 * 24));
                        var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
                        var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
                        var seconds = Math.floor((distance % (1000 * 60)) / 1000);

                        let s = '';
                        if (days > 0) {
                            console.log('greater');
                            if (days === 1) {
                                s += days + "Day "
                            } else {
                                s += days + "Days "
                            }
                        }
                        if (hours !== 0) {
                            if (hours === 1) {
                                s += hours + "hr "
                            } else {
                                s += hours + "hrs "
                            }
                        }
                        if (minutes !== 0) {
                            if (minutes === 1) {
                                s += minutes + "Min "
                            } else {
                                s += minutes + "Mins "
                            }
                        }
                        if (seconds !== 0) {
                            if (seconds === 1) {
                                s += seconds + "Sec "
                            } else {
                                s += seconds + "Secs "
                            }
                        }


                        // Output the result in an element with id="demo"
                        document.getElementById('future_time').innerHTML = s;
                        $("#blink").fadeToggle();

                        // If the count down is over, write some text
                        if (distance < 0) {
                            clearInterval(x);
                            document.getElementById('future_time').innerHTML = 'Quiz Started _ Please refresh';
                        }
                    }, 1000);
                }
            {% endif %}

            /*
                        setInterval(function () {
                            var vis = $("#blink").css("visibility");
                            vis = (!vis || vis == "visible") ? "hidden" : "visible";
                            $("#blink").css("visibility", vis);
                        }, 1000);
            */
        {% endif %}
    </script>
{% endblock %}
