{% extends 'base.html' %}
{% load static %}

{% block base_title %}Quiz > Builder{% endblock %}

{% block content %}
    <div class="container my-3">
        <div class="">

            {# HEAD #}

            <div class="row">
                <div class="col-sm-7 p-2 p-sm-4">

                    <p class="h3">Quiz Setup</p>

                    {# NO_OF_QUESTIONS #}
                    <div class="form-group">
                        <label for="exampleFormControlInput1">No Of Questions</label>
                        <input type="number" class="form-control" id="exampleFormControlInput1"
                               placeholder="00000">
                    </div>

                    {# SUBJECTS #}
                    <div class="form-group">
                        <label for="exampleFormControlSelect1">Select Subjects</label>
                        <select multiple class="form-control" id="exampleFormControlSelect1">
                            <option>Maths</option>
                            <option>Physics</option>
                            <option>Chemistry</option>
                            <option>English</option>
                            <option>Computer Science</option>
                            <option>Biology</option>
                            <option>Spanish</option>
                        </select>
                    </div>

                    {# AGE_RANGE #}
                    <div class="form-group">
                        <label for="formControlRange">Select Age Range</label>
                        <input type="range" class="form-control-range" id="formControlRange">
                    </div>

                    {# QUIZ DURATION #}
                    <div class="form-group">
                        <label for="exampleFormControlInput1">Quiz Duration In Minutes</label>
                        <input type="number" class="form-control" id="exampleFormControlInput1"
                               placeholder="120">
                    </div>

                </div>

                {# STATICTICS #}
                <div class="col-sm-5 p-2 p-sm-4">

                    <p class="h3">Quiz Statistics</p>

                    {# SUBJECTS #}
                    <p class="m-0"><i class="fa fa-times text-danger"></i> Subject Selected</p>
                    <p class="m-0"><i class="fa fa-times text-danger"></i> No of Questions</p>
                    <p class="m-0"><i class="fa fa-check text-success"></i> Age Range</p>
                    <p class=""><i class="fa fa-times text-danger"></i> Total Quiz time set</p>

                    <p class="h3 border-bottom">Listed Questions</p>

                    <ol class="small">
                        <li>{% lorem 10 w %}?</li>
                        <li>{% lorem 8 w %}?</li>
                        <li>{% lorem 7 w %}?</li>
                        <li>{% lorem 12 w %}?</li>
                        <li>{% lorem 5 w %}?</li>
                        <li>{% lorem 10 w %}?</li>
                        <li>{% lorem 7 w %}?</li>
                    </ol>

                    <button class="btn btn-block btn-success">Submit</button>
                </div>
            </div>

        </div>
    </div>
{% endblock %}
