{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block base_title %}Quiz Builder{% endblock %}

{% block base_links %}
    <!-- XDSoft DateTimePicker -->
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.min.css"
          integrity="sha256-DOS9W6NR+NFe1fUhEE0PGKY/fubbUCnOfTje2JMDw3Y=" crossorigin="anonymous"/>
{% endblock %}

{% block page_heading %}
    Quiz ID {{ quiz_id }}<br>
    <p class="m-0 small text-white bg-danger p-2 my-2"> <b>WARNING: </b>don't delete this quiz if this is attempted by anyone.</p>
    <a href="{% url 'application:delete_quiz' quiz_id %}" class="btn btn-sm btn-link text-danger"><i class="fa fa-trash"></i> Remove</a>
    <a href="{% url 'application:update_quiz' quiz_id %}" class="btn btn-sm btn-link text-primary"><i class="fa fa-edit"></i> Edit</a>

{% endblock %}


{% block content %}


    <div class="">


        <div class="">
            <div class="card">
                <div class="card-header text-left"><p class="lead m-0">Quiz Statistics</p></div>
                <div class="card-body">
                    <div class="row justify-content-center">
                        <div class="col">
                            <div class="row justify-content-center">
                                <div>
                                    <div>
                                        <p class="m-0">Quiz Subjects</p>
                                    </div>
                                    <ul class="list-unstyled text-primary">
                                        {% for subject in subjects %}
                                            <li>{{ subject.title }}</li>
                                        {% endfor %}

                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="row justify-content-center">
                                <div>
                                    <div>
                                        <p class="m-0">Quiz Questions</p>
                                    </div>
                                    <ul class="list-unstyled text-primary">
                                        <li>TOTAL: {{ total }}</li>
                                        <li>SELECTED: {{ selected }}</li>
                                        <li>REMAINING: {{ remaining }}</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="row justify-content-center">
                                <div>
                                    <div>
                                        <p class="m-0 ">Quiz Level</p>
                                    </div>
                                    <ul class="list-unstyled">
                                        <li class="text-danger">
                                            40
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>

                                        </li>
                                        <li style="color: darkorange;">
                                            25
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>

                                        </li>
                                        <li class="text-warning">
                                            10
                                            <i class="fa fa-star"></i>
                                        </li>

                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>



            {% if questions %}


                {# Statements details #}
                <div class="card">
                    <div class="card-header text-left"><p class="lead m-0">Quiz Questions</p></div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-hover table-striped">
                                <thead>
                                <tr>
                                    <th>Text</th>
                                    <th>Subject</th>
                                    <th>Difficulty</th>
                                    <th>Remove</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for question in questions %}
                                    <tr>
                                        <td> {{ question.questionstatement_set.first }} </td>
                                        <td> {{ question.subject.title }}</td>
                                        <td class="text-warning">
                                            <i class="fa fa-star"></i>
                                        </td>
                                        <td><a href="/delete/quiz/{{ quiz_id }}/question/{{ question.pk }}/"><i
                                                class="fa fa-trash"></i></a></td>
                                    </tr>
                                {% endfor %}


                                </tbody>

                            </table>
                        </div>
                    </div>
                </div>
            {% endif %}

            {# Search details #}
            <div class="p-0 p-sm-0">
                <input type="search" class="form-control" placeholder="Search Question" id="search-filter">
                <ul class="searchlist list-unstyled  border-top-0 card" id="search_list_product">
                </ul>
            </div>
        </div>


    </div>


{% endblock %}

{% block base_internal_scripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.full.min.js"
            integrity="sha256-FEqEelWI3WouFOo2VWP/uJfs1y8KJ++FLh2Lbqc8SJk=" crossorigin="anonymous"></script>

{% endblock %}

{% block base_external_scripts %}
    <script>
        $(document).ready(function () {

            $('#search-filter').keyup(function () {

                $('#search_list_product').html('');

                let search = $('#search-filter').val();
                if (search != '') {
                    search_questions(search);
                } else {
                    $('#search_list_product').html('');
                }
            });

            $('#id_start_time').datetimepicker({
                format: 'Y-m-d H:i:s',
            });

            $('#id_end_time').datetimepicker({
                format: 'Y-m-d H:i:s',
            });

            // FUNCTIONS
            function search_questions(search) {
                $.ajax({
                    url: "/search/question/?search=" + search,
                    type: 'GET',
                    success: function (response) {
                        for (let i = 0; i < response['length']; i++) {
                            $('#search_list_product').append(
                                '<li class="p-2" id="' + response[i].question + '">' +
                                '<a class="text-secondary" href="/add/quiz/{{ quiz_id }}/question/' + response[i].question + '/">' +
                                '' + response[i].subject + ' | ' + response[i].statement + '' +
                                '</a>' +
                                '</li>'
                            );
                        }
                    },
                    error: function (response) {
                        $('#search_list_product').html('');
                    }
                });
            }
        });
    </script>

{% endblock %}

