{% extends 'base.html' %}
{% load static %}

{% block base_title %}Signup{% endblock %}

{% block content %}
    <div class="container my-3">

        <div class="text-center">
            <p class="small bg-danger text-light p-2 rounded"><b> NOTE > </b>Page design is not final and text is random
                its just a prototype, will be changed according to application requirements <i
                        class="fa fa-spinner fa fa-spin"></i></p>
        </div>
    </div>

{% endblock %}