{% extends 'core/base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block base_title %} {{ request.user }} {% endblock %}

{% block base_links %}{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="media">
                                <div class="mr-3">
                                    {% if request.user.profile_image %}
                                        <img src="{{ request.user.profile_image.url }}" alt=""
                                             class="avatar-md rounded-circle img-thumbnail">
                                    {% else %}
                                        <img src="{% static 'images/user.png ' %}" alt=""
                                             class="avatar-md rounded-circle img-thumbnail">
                                    {% endif %}
                                </div>
                                <div class="media-body align-self-center">
                                    <div class="text-muted">
                                        <p class="mb-2">Welcome to Cocognito</p>
                                        <h5 class="mb-1">
                                            {% if request.user.first_name and request.user.last_name %}
                                                {{ request.user.first_name }} {{ request.user_last_name }}
                                            {% else %}
                                                {{ request.user.username }}
                                            {% endif %}
                                        </h5>
                                        <p class="mb-0 text-danger">
                                            Student Account
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-8 align-self-center">
                            <div class="text-lg-center mt-4 mt-lg-0">
                                <div class="row text-center">
                                    <div class="col">
                                        <div>
                                            <h2 class="text-muted mb-0">
                                                <i class="fa fa-clock"></i>
                                            </h2>
                                            <small>Quizzes</small>
                                            <h5 class="mt-2">{{ total_quizzes }}</h5>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div>
                                            <h2 class="text-muted mb-0">
                                                <i class="fa fa-book"></i>
                                            </h2>
                                            <small>Learning</small>
                                            <h5 class="mt-2">{{ total_learning }}</h5>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div>
                                            <h2 class="text-muted mb-0">
                                                <i class="fa fa-child"></i>
                                            </h2>
                                            <small>Parental Access</small>
                                            <h5 class="mt-2">{{ total_relations }}</h5>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">

                    <h4 class="card-title mb-4">See what is happening right now</h4>

                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs nav-tabs-custom nav-justified" role="tablist">
                        <li class="nav-item waves-effect waves-light">
                            <a class="nav-link active" data-toggle="tab" href="#live_events" role="tab"
                               aria-selected="true">
                                <span class="d-block d-sm-none"><i class="fas fa-clipboard"></i></span>
                                <span class="d-none d-sm-block">Happening Right Now</span>
                            </a>
                        </li>
                        <li class="nav-item waves-effect waves-light">
                            <a class="nav-link" data-toggle="tab" href="#enrolled_events" role="tab"
                               aria-selected="false">
                                <span class="d-block d-sm-none"><i class="fa fa-clipboard-list"></i></span>
                                <span class="d-none d-sm-block">Enrolled Events</span>
                            </a>
                        </li>
                        <li class="nav-item waves-effect waves-light">
                            <a class="nav-link" data-toggle="tab" href="#completed_events" role="tab"
                               aria-selected="false">
                                <span class="d-block d-sm-none"><i class="fa fa-clipboard-check"></i></span>
                                <span class="d-none d-sm-block">Completed Events</span>
                            </a>
                        </li>
                    </ul>

                    <!-- Tab panes -->
                    <div class="tab-content p-3">
                        <div class="tab-pane active" id="live_events" role="tabpanel">
                            <ul class="m-0 list-unstyled">
                                {% for quiz in quizes_available %}
                                    <li>Event <b>{{ quiz.title }}</b> started on
                                        {{ quiz.start_time }}and closes on
                                        {{ quiz.end_time }}
                                        <a href="{% url 'student-portal:quiz-enroll' quiz.pk %}" class="text-dark">
                                            <b>click to enroll</b>
                                        </a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                        <div class="tab-pane" id="enrolled_events" role="tabpanel">
                            <ul class="m-0">
                                {% for quiz in quizes_enrolled %}
                                    <li>Event <b>{{ quiz.title }}</b> will be started
                                        {{ quiz.start_time }} and closes on {{ quiz.end_time }}.
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                        <div class="tab-pane" id="completed_events" role="tabpanel">
                            <ul class="m-0">
                                {% for quiz in quizes_completed %}
                                    <li>Event <b>{{ quiz.quiz.title }}</b> was closed on {{ quiz.quiz.end_time }}<a
                                            class="text-dark" href="/s/?quiz={{ quiz.quiz_id }}"><b>click to views
                                        stats</b></a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    {% if allow %}
        <div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title mb-4">Time Statistics Total</h4>
                            <div id="time_states_total" class="apex-charts" dir="ltr"></div>
                        </div>
                    </div><!--end card-->
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title mb-4">Attempt Statistics Total</h4>
                            <div id="attempt_states_total" class="apex-charts" dir="ltr"></div>
                        </div>
                    </div><!--end card-->
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title mb-4">Attempt Statistics Average</h4>
                            <div id="attempt_stats_average" class="apex-charts" dir="ltr"></div>
                        </div>
                    </div><!--end card-->
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title mb-4">Pass Attempts</h4>
                            <div id="pass_attempts" class="apex-charts" dir="ltr"></div>
                        </div>
                    </div><!--end card-->
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title mb-4">Correct Attempts</h4>
                            <div id="correct_attempts" class="apex-charts" dir="ltr"></div>
                        </div>
                    </div><!--end card-->
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title mb-4">Incorrect Attempts</h4>
                            <div id="incorrect_attempts" class="apex-charts" dir="ltr"></div>
                        </div>
                    </div><!--end card-->
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title mb-4">My Team vs Teams Average Time</h4>
                            <div id="team_vs_teams" class="apex-charts" dir="ltr"></div>
                        </div>
                    </div><!--end card-->
                </div>
            </div>
        </div>
    {% else %}
        <p class="">
            <b><a href="/s/#completed_events" class="text-danger"> -- Quiz Reports Not available Now - Check your completed events tab.</a></b>
        </p>
    {% endif %}


{% endblock %}

{% block base_internal_scripts %}
    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
{% endblock %}

{% if allow %}
    {% block base_external_scripts %}

        <script>
            $(document).ready(function () {
                {# CHART 1 TIME STATISTICS#}
                let chart_time_states_total_options = {
                    series: [
                        {name: 'Max Time', data: {{ time_max }}},
                        {name: 'Min Time', data: {{ time_min }}},
                        {name: 'Avg Time', data: {{ time_avg }}}
                    ],
                    chart: {
                        type: 'bar',
                        height: 350
                    },
                    plotOptions: {
                        bar: {
                            horizontal: false,
                            columnWidth: '55%',
                            endingShape: 'rounded'
                        },
                    },
                    dataLabels: {
                        enabled: false
                    },
                    colors: ['#DFFF00', '#40E0D0', '#6495ED'],
                    stroke: {
                        show: true,
                        width: 2,
                        colors: ['transparent']
                    },
                    xaxis: {
                        categories: {{ questions }},
                    },
                    yaxis: {
                        title: {
                            text: 'Seconds'
                        }
                    },
                    fill: {
                        opacity: 1
                    },
                    tooltip: {
                        y: {
                            formatter: function (val) {
                                return "" + val + " seconds"
                            }
                        }
                    }
                };
                let chart_time_states_total = new ApexCharts(
                    document.querySelector("#time_states_total"), chart_time_states_total_options
                );
                chart_time_states_total.render();

                {# CHART 2  #}
                var chart_attempt_states_total_options = {
                    series: [{
                        name: 'Total Pass',
                        data: {{ pass_attempts_all }}
                    }, {
                        name: 'Total Correct',
                        data: {{ correct_attempts_all }}
                    }, {
                        name: 'Total Incorrect',
                        data: {{ incorrect_attempts_all }}
                    }],
                    chart: {
                        type: 'bar',
                        height: 350
                    },
                    plotOptions: {
                        bar: {
                            horizontal: false,
                            columnWidth: '55%',
                            endingShape: 'rounded'
                        },
                    },
                    dataLabels: {
                        enabled: false
                    },
                    stroke: {
                        show: true,
                        width: 2,
                        colors: ['transparent']
                    },
                    xaxis: {
                        categories: {{ questions }},
                    },
                    yaxis: {
                        title: {
                            text: 'Total'
                        }
                    },
                    fill: {
                        opacity: 1
                    },
                    tooltip: {}
                };
                var chart_attempt_states_total = new ApexCharts(document.querySelector("#attempt_states_total"),
                    chart_attempt_states_total_options
                );
                chart_attempt_states_total.render();

                {# CHART 3 #}
                var chart_attempt_states_average_options = {
                    series: [{
                        name: 'Average Pass',
                        data: {{ average_pass_attempts_all }}
                    }, {
                        name: 'Average Correct',
                        data: {{ average_correct_attempts_all }}
                    }, {
                        name: 'Average Incorrect',
                        data: {{ average_incorrect_attempts_all }}
                    }],
                    chart: {
                        type: 'bar',
                        height: 350
                    },
                    colors: ['#DE3163', '#FFBF00', '#CCCCFF'],
                    plotOptions: {
                        bar: {
                            horizontal: false,
                            columnWidth: '55%',
                            endingShape: 'rounded'
                        },
                    },
                    dataLabels: {
                        enabled: false
                    },
                    stroke: {
                        show: true,
                        width: 2,
                        colors: ['transparent']
                    },
                    xaxis: {
                        categories: {{ questions }},
                    },
                    yaxis: {
                        title: {
                            text: 'Average'
                        }
                    },
                    fill: {
                        opacity: 1
                    },
                    tooltip: {
                        y: {
                            formatter: function (val) {
                                return "" + val
                            }
                        }
                    }
                };
                var chart_attempt_states_average = new ApexCharts(document.querySelector("#attempt_stats_average"),
                    chart_attempt_states_average_options
                );
                chart_attempt_states_average.render();

                {# CHART 4 #}
                var chart_correct_attempts_options = {
                    series: [{
                        name: 'Avg Pass Attempts',
                        data: {{ average_pass_attempts_all }}
                    }, {
                        name: 'Team Pass Attempts',
                        data: {{ user_total_pass }}
                    }
                    ],
                    chart: {
                        type: 'bar',
                        height: 350
                    },
                    {#colors:['#DE3163', '#FFBF00', '#CCCCFF'],#}
                    plotOptions: {
                        bar: {
                            horizontal: false,
                            columnWidth: '55%',
                            endingShape: 'rounded'
                        },
                    },
                    dataLabels: {
                        enabled: false
                    },
                    stroke: {
                        show: true,
                        width: 2,
                        colors: ['transparent']
                    },
                    xaxis: {
                        categories: {{ questions }},
                    },
                    yaxis: {
                        title: {
                            text: 'Attempts'
                        }
                    },
                    fill: {
                        opacity: 1
                    },
                    tooltip: {
                        y: {
                            formatter: function (val) {
                                return "" + val
                            }
                        }
                    }
                };
                var chart_correct_attempts = new ApexCharts(document.querySelector("#correct_attempts"),
                    chart_correct_attempts_options
                );
                chart_correct_attempts.render();

                {# CHART 5 #}
                var chart_incorrect_attempts_options = {
                    series: [{
                        name: 'Avg Correct Attempts',
                        data: {{ average_correct_attempts_all }}
                    }, {
                        name: 'Team Correct Attempts',
                        data: {{ user_total_correct }}
                    }
                    ],
                    chart: {
                        type: 'bar',
                        height: 350
                    },
                    {#colors:['#DE3163', '#FFBF00', '#CCCCFF'],#}
                    plotOptions: {
                        bar: {
                            horizontal: false,
                            columnWidth: '55%',
                            endingShape: 'rounded'
                        },
                    },
                    dataLabels: {
                        enabled: false
                    },
                    stroke: {
                        show: true,
                        width: 2,
                        colors: ['transparent']
                    },
                    xaxis: {
                        categories: {{ questions }},
                    },
                    yaxis: {
                        title: {
                            text: 'Attempts'
                        }
                    },
                    fill: {
                        opacity: 1
                    },
                    tooltip: {
                        y: {
                            formatter: function (val) {
                                return "" + val
                            }
                        }
                    }
                };
                var chart_incorrect_attempts = new ApexCharts(document.querySelector("#incorrect_attempts"),
                    chart_incorrect_attempts_options
                );
                chart_incorrect_attempts.render();

                {# CHART 6 #}
                var chart_pass_attempts_options = {
                    series: [{
                        name: 'Avg Wrong Attempts',
                        data: {{ average_incorrect_attempts_all }}
                    }, {
                        name: 'Team Wrong Attempts',
                        data: {{ user_total_incorrect }}
                    }
                    ],
                    chart: {
                        type: 'bar',
                        height: 350
                    },
                    {#colors:['#DE3163', '#FFBF00', '#CCCCFF'],#}
                    plotOptions: {
                        bar: {
                            horizontal: false,
                            columnWidth: '55%',
                            endingShape: 'rounded'
                        },
                    },
                    dataLabels: {
                        enabled: false
                    },
                    stroke: {
                        show: true,
                        width: 2,
                        colors: ['transparent']
                    },
                    xaxis: {
                        categories: {{ questions }},
                    },
                    yaxis: {
                        title: {
                            text: 'Attempts'
                        }
                    },
                    fill: {
                        opacity: 1
                    },
                    tooltip: {
                        y: {
                            formatter: function (val) {
                                return "" + val
                            }
                        }
                    }
                };
                var chart_pass_attempts = new ApexCharts(document.querySelector("#pass_attempts"),
                    chart_pass_attempts_options
                );
                chart_pass_attempts.render();

                {# CHART 7 #}
                var chart_myteam_vs_teams_options = {
                    series: [{
                        name: 'Max Time',
                        data: {{ time_max }}
                    }, {
                        name: 'Min Time',
                        data: {{ time_min }}
                    }, {
                        name: 'Avg Time',
                        data: {{ time_avg }}
                    }, {
                        name: 'My Team',
                        data: {{ my_team_time }}
                    }
                    ],
                    chart: {
                        type: 'bar',
                        height: 350
                    },
                    {#colors:['#DE3163', '#FFBF00', '#CCCCFF'],#}
                    plotOptions: {
                        bar: {
                            horizontal: false,
                            columnWidth: '55%',
                            endingShape: 'rounded'
                        },
                    },
                    dataLabels: {
                        enabled: false
                    },
                    stroke: {
                        show: true,
                        width: 2,
                        colors: ['transparent']
                    },
                    xaxis: {
                        categories: {{ questions }},
                    },
                    yaxis: {
                        title: {
                            text: 'Seconds'
                        }
                    },
                    fill: {
                        opacity: 1
                    },
                    tooltip: {
                        y: {
                            formatter: function (val) {
                                return "" + val + " seconds"
                            }
                        }
                    }
                };
                var chart_myteam_vs_teams = new ApexCharts(document.querySelector("#team_vs_teams"),
                    chart_myteam_vs_teams_options
                );
                chart_myteam_vs_teams.render();
            });
        </script>
    {% endblock %}
{% endif %}




