{% extends 'core/base.html' %}
{% load static %}

{% block base_title %} Parental Access {% endblock %}

{% block content %}

    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-body">
                    <div class="text-center">
                        <div>
                            {% if relation.parent.profile_image %}
                                <img src="{{ relation.parent.profile_image.url }}" class="rounded-circle">
                            {% else %}
                                <img src="{% static 'images/user.jpg' %}" height="100" width="100"
                                     class="rounded-circle">
                            {% endif %}

                            <div class="mt-2">
                                <b>{{ relation.parent.get_full_name }} <small> ({{ relation.parent.username }})</small></b><br>
                                <b class="text-primary">{{ relation.relation.guardian_relation_name }}</b>
                            </div>
                        </div>

                        <div class="text-left">
                            {% if not relation.is_verified_by_child %}
                                <p>
                                    Above user requested to access your information, if you gave access the user will
                                    read the given information
                                </p>
                                <ul>
                                    <li>Account information</li>
                                    <li>Quizzes Reports</li>
                                    <li>Learning Progress</li>
                                    <li>Team Work</li>
                                    <li>Performance Analysis</li>
                                </ul>
                            {% else %}
                                <p class="text-danger">
                                    On removing access above user will be not be able to see your information anymore.
                                </p>
                            {% endif %}
                        </div>

                        <div class="text-left">
                            <form method="post">
                                {% csrf_token %}
                                {% if relation.is_verified_by_child %}
                                    <button type="submit" class="btn btn-danger">
                                        <i class="fa fa-trash"></i> Remove Access
                                    </button>
                                {% else %}
                                    <button type="submit" class="btn btn-primary">
                                        <i class="fa fa-child"></i> Allow Access
                                    </button>
                                {% endif %}
                            </form>


                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

{% endblock %}