{% extends 'core/base.html' %}
{% load static %}

{% block base_title %} Delete Relation {% endblock %}

{% block content %}

    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">

                    <form method="post">{% csrf_token %}
                        <p class="mb-2">Are you sure your want to remove parental access from
                            <b class="text-danger">"{{ object.parent.username }}"</b> identified as your
                            <b>{{ object.relation.guardian_relation_name }}</b>.
                        </p>
                        <input type="submit" class="btn btn-danger" value="Confirm">
                    </form>

                </div>
            </div>
        </div>
    </div>

{% endblock %}