{% extends 'core/base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block base_title %}Quiz > New Team {% endblock %}

{% block content %}

    <div class="container my-3">

        <div class="row justify-content-center">
            <div class="card">
                <div class="card-body">
                    <form action="{% url 'student-portal:quiz-enroll' quiz.pk %}" method="post">
                        {% csrf_token %}
                        <div class="p-4 text-center border-bottom">
                            <p class="h2 m-0">Team Registration</p>
                            <p class="text-muted m-0">Register your team for quiz <a href="#">{{ quiz.title }}</a>,
                                need help <a href="#">how to use</a>.
                            </p>
                        </div>
                        <div class="p-4 border-bottom">
                            <div class="">
                                <label for="team_name" class="form-label">Team Name</label>
                                <input type="text" class="form-control" id="team_name" name="team_name" required>
                            </div>
                            <br>


                            {% if quiz.players == '2' or quiz.players == '3' %}
                                <div class="mb-2">
                                    <label for="player_2" class="form-label">Player 2</label>
                                    <input type="text" class="form-control" name="player_2" id="player_2" required
                                           placeholder="enter player username">
                                    <div class="" id="player_2_status">

                                    </div>
                                </div>
                            {% endif %}

                            {% if quiz.players == '3' %}
                                <div class="">
                                    <label for="player_3" class="form-label">Player 3</label>
                                    <input type="text" class="form-control" name="player_3" id="player_3"
                                           required placeholder="enter player username">
                                    <div class="" id="player_3_status">

                                    </div>
                                </div>
                            {% endif %}
                        </div>
                        <div class="p-4">
                            <ul class="text-muted list-unstyled">

                                <li>You are allowed to add one or two more players, depending upon the quiz type
                                </li>
                                <li>Please add username of your teammate to create team for 2 players
                                </li>
                                <li>Please add usernames of two other teammates to create team for 3 players.</li>
                                <li>If you want to edit your team later on, go to <a
                                        href="{% url 'student-portal:team' %}">team menu</a>, delete your team and
                                    enroll again with your new team
                                </li>
                                <li>Once your team attempts the quiz you are not allowed to delete
                                    team anymore.
                                </li>
                            </ul>
                            <button type="submit" class="btn btn-success"><i class="fa fa-flag"></i> Create Team
                            </button>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>

{% endblock %}

{% block base_external_scripts %}
    <script>
        $(document).ready(function () {
            $('#player_1_complete').hide();

            let player_2_input = $('#player_2');
            let player_3_input = $('#player_3');

            let player_2_status = $('#player_2_status');
            let player_3_status = $('#player_3_status');

            player_2_input.blur(function () {
                get_c_api_call_user_exists('/s/json/user/' + $(this).val() + '/exists/', true)
            });
            player_3_input.blur(function () {
                get_c_api_call_user_exists('/s/json/user/' + $(this).val() + '/exists/', false)
            });


            function message_generator(is_successful, is_second) {
                if (is_second === true) {
                    if (is_successful === true) {
                        player_2_input.removeClass('is-invalid').addClass('is-valid');
                        player_2_status.removeClass('invalid-feedback').addClass('valid-feedback').html("user is available.");
                    } else {
                        player_2_input.removeClass('is-valid').addClass('is-invalid');
                        player_2_status.removeClass('valid-feedback').addClass('invalid-feedback').html("user is not available.");
                    }
                } else {
                    if (is_successful === true) {
                        player_3_input.removeClass('is-invalid').addClass('is-valid');
                        player_3_status.removeClass('invalid-feedback').addClass('valid-feedback').html("user is available.");
                    } else {
                        player_3_input.removeClass('is-valid').addClass('is-invalid');
                        player_3_status.removeClass('valid-feedback').addClass('invalid-feedback').html("user is not available.");
                    }
                }
            }

            function get_c_api_call_user_exists(url, is_second) {
                $.get(url, function (data) {
                    message_generator(data.flag, is_second)
                });
            }
        });
    </script>
{% endblock %}