{% extends 'core/base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block base_title %}My Teams {% endblock %}
{% block page_heading %} My Teams {% endblock %}

{% block base_links %}
    <link rel="stylesheet" href="//cdn.datatables.net/1.10.22/css/jquery.dataTables.min.css">
{% endblock %}

{% block content %}

    <div class="card">
        <div class="card-body">

            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab" href="#all"><i class="fa fa-list"></i> All</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#expired"><i class="fa fa-ban"></i> Expired</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#available"><i class="fa fa-pen"></i> Available</a>
                </li>
            </ul>
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="all">
                    {% if teams %}
                        <div class="table-responsive py-4">
                            <table class="table table-hover table-bordered table-striped">
                                <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Quiz</th>
                                    <th>Quiz Type</th>
                                    <th>Participants</th>
                                    <th>Created</th>
                                </tr>
                                </thead>
                                <tbody class="">

                                {% for team in teams %}
                                    <tr>
                                        <td>{{ team.name }}</td>
                                        <td>{{ team.quiz.title }}</td>
                                        <td>{{ team.quiz.get_players_display }}</td>
                                        <td>
                                            {% for player in team.participants.all %}
                                                <span
                                                        class="badge badge-pill badge-soft-primary">{{ player.username }}</span>
                                                <br>
                                            {% endfor %}
                                        </td>
                                        <td>{{ team.created_at }}</td>


                                    </tr>

                                {% endfor %}


                                </tbody>
                            </table>
                        </div>
                    {% else %}
                        <div class="card-body">
                            <h5 class="card-title text-danger">How to Create or Join Team</h5>
                            <p class="card-text">{{ request.user.username }}! You are not associated to any team
                                until
                                now,
                                you can create your own team by selecting <a
                                        href="{% url 'student-portal:quiz' %}">Quiz</a>
                                from available quizes or you can join someone team, give them your username:
                                <b>{{ request.user.username }}</b> and ask them to add.
                            </p>
                        </div>
                    {% endif %}
                </div>

                <div class="tab-pane fade show" id="expired">
                    {% if ex_teams %}
                        <div class="table-responsive py-4">
                            <table class="table table-hover table-bordered table-striped">
                                <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Quiz</th>
                                    <th>Quiz Type</th>
                                    <th>Participants</th>
                                    <th>Created</th>
                                </tr>
                                </thead>
                                <tbody class="">

                                {% for team in ex_teams %}
                                    <tr>
                                        <td>{{ team.name }}</td>
                                        <td>{{ team.quiz.title }}</td>
                                        <td>{{ team.quiz.get_players_display }}</td>
                                        <td>
                                            {% for player in team.participants.all %}
                                                <span
                                                        class="badge badge-pill badge-soft-primary">{{ player.username }}</span>
                                                <br>
                                            {% endfor %}
                                        </td>
                                        <td>{{ team.created_at }}</td>


                                    </tr>

                                {% endfor %}


                                </tbody>
                            </table>
                        </div>
                    {% else %}
                        <div class="card-body">
                            <h5 class="card-title text-danger">How to Create or Join Team</h5>

                            <p class="card-text">There are no records for expired
                                events you have been a part of. You can create your own team by selecting <a
                                        href="{% url 'student-portal:quiz' %}">Quiz</a> from available quizzes
                                or
                                you can join someone team, give them your username:
                                <b>{{ request.user.username }}</b> and ask them to add.
                            </p>
                        </div>
                    {% endif %}
                </div>

                <div class="tab-pane fade show" id="available">
                    {% if av_teams %}
                        <div class="table-responsive py-4">
                            <table class="table table-hover table-bordered table-striped">
                                <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Quiz</th>
                                    <th>Quiz Type</th>
                                    <th>Participants</th>
                                    <th>Created</th>
                                    <th>Action</th>
                                </tr>
                                </thead>
                                <tbody class="">

                                {% for team in av_teams %}
                                    <tr>
                                        <td>{{ team.name }}</td>
                                        <td>{{ team.quiz.title }}</td>
                                        <td>{{ team.quiz.get_players_display }}</td>
                                        <td>
                                            {% for player in team.participants.all %}
                                                <span
                                                        class="badge badge-pill badge-soft-primary">{{ player.username }}</span>
                                                <br>
                                            {% endfor %}
                                        </td>
                                        <td>{{ team.created_at }}</td>

                                        <td>
                                            <button class="btn btn-danger" id="delete-team" data-id="{{ team.pk }}"><i
                                                    class="fa fa-trash"></i>
                                                Delete
                                            </button>
                                        </td>
                                    </tr>

                                {% endfor %}


                                </tbody>
                            </table>
                        </div>
                    {% else %}
                        <div class="card-body">
                            <h5 class="card-title text-danger">How to Create or Join Team</h5>
                            <p class="card-text">You are not associated to any team
                                until now, you can create your own team by selecting <a
                                        href="{% url 'student-portal:quiz' %}">Quiz</a>
                                from available quizes or you can join someone team, give them your username:
                                <b>{{ request.user.username }}</b> and ask them to add.
                            </p>
                        </div>
                    {% endif %}
                </div>
            </div>

        </div>
    </div>

{% endblock %}

{% block base_internal_scripts %}
    <script src="//cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
{% endblock %}

{% block base_external_scripts %}
    <script>
        $(document).ready(function () {

            $('#available #delete-team').click(function (event) {
                let value = $(this).data('id');

                {# SWEET #}

                const swalWithBootstrapButtons = Swal.mixin({
                    customClass: {
                        confirmButton: 'btn btn-success',
                        cancelButton: 'btn btn-danger'
                    },
                    buttonsStyling: false
                });

                swalWithBootstrapButtons.fire({
                    title: 'Are you sure?',
                    text: "Deleting team will unenroll you from the quiz, you will have to register again for the quiz, do you wish to proceed?",
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonText: 'Yes, delete it!',
                    cancelButtonText: 'No, cancel!',
                    reverseButtons: true
                }).then((result) => {
                    if (result.isConfirmed) {
                        swalWithBootstrapButtons.fire(
                            'Team Deleted!',
                            'You have successfully unenrolled from this quiz.',
                            'success'
                        );
                        window.location = "/s/team/" + value + "/delete/"
                    } else if (
                        /* Read more about handling dismissals below */
                        result.dismiss === Swal.DismissReason.cancel
                    ) {
                        swalWithBootstrapButtons.fire(
                            'Cancelled',
                            'Your team is safe :)',
                            'error'
                        )
                    }
                });

                {# ----- #}

            });

            $('table').DataTable();

        });
    </script>
{% endblock %}