{% load static %}
<html>
<head>
    <title>Zoom MARK</title>
    <meta charset="utf-8"/>
    	<link type="text/css" rel="stylesheet" href="https://source.zoom.us/2.1.1/css/bootstrap.css" />
	<link type="text/css" rel="stylesheet" href="https://source.zoom.us/2.1.1/css/react-select.css" />
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
</head>
<body>
<div id="meetingSDKElement">
    <!-- Zoom Meeting SDK Rendered Here -->
</div>


<!-- added on import -->


	<!-- For either view: import Web Meeting SDK JS dependencies -->
	<script src="https://source.zoom.us/2.1.1/lib/vendor/react.min.js"></script>
	<script src="https://source.zoom.us/2.1.1/lib/vendor/react-dom.min.js"></script>
	<script src="https://source.zoom.us/2.1.1/lib/vendor/redux.min.js"></script>
	<script src="https://source.zoom.us/2.1.1/lib/vendor/redux-thunk.min.js"></script>
	<script src="https://source.zoom.us/2.1.1/lib/vendor/lodash.min.js"></script>

	<!-- For Component View -->
    <script src="https://source.zoom.us/2.1.1/zoom-meeting-embedded-2.1.1.min.js"></script>

{#	<!-- For Client View -->#}
{#	<script src="https://source.zoom.us/zoom-meeting-1.9.9.min.js"></script>#}


</body>
</html>
<script>
    const client = ZoomMtgEmbedded.createClient();
    let meetingSDKElement = document.getElementById('meetingSDKElement');



    client.init({
        debug: true,
        zoomAppRoot: meetingSDKElement,
        language: 'en-US',
        customize: {
            meetingInfo: ['topic', 'host', 'mn', 'pwd', 'telPwd', 'invite', 'participant', 'dc', 'enctype'],
            toolbar: {
                buttons: [
                    {
                        text: 'Custom Button',
                        className: 'CustomButton',
                        onClick: () => {
                            console.log('custom button');
                        }
                    }
                ]
            }
        }

    });

    client.join({
        apiKey: "{{ api_key }}",
        signature: "{{ signature }}",
        meetingNumber: {{ meeting_id }},
        password: null,
        userName: "{{ created_by.username }}"
    });


</script>