{% extends 'core/base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block base_title %} {{ request.user }} {% endblock %}

{% block base_links %}{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="media">
                                <div class="mr-3">
                                    {% if request.user.profile_image %}
                                        <img src="{{ request.user.profile_image.url }}" alt=""
                                             class="avatar-md rounded-circle img-thumbnail">
                                    {% else %}
                                        <img src="{% static 'images/user.png ' %}" alt=""
                                             class="avatar-md rounded-circle img-thumbnail">
                                    {% endif %}
                                </div>
                                <div class="media-body align-self-center">
                                    <div class="text-muted">
                                        <p class="mb-2">Welcome to Cocognito</p>
                                        <h5 class="mb-1">
                                            {% if request.user.first_name and request.user.last_name %}
                                                {{ request.user.first_name }} {{ request.user_last_name }}
                                            {% else %}
                                                {{ request.user.username }}
                                            {% endif %}
                                        </h5>
                                        <p class="mb-0 text-danger">
                                            Moderator Account
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-8 align-self-center">
                            <div class="text-lg-center mt-4 mt-lg-0">
                                <div class="row text-center">
                                    <div class="col">
                                        <div>
                                            <h2 class="text-muted mb-0">
                                                <i class="fa fa-user-clock"></i>
                                            </h2>
                                            <small>Individual Quiz</small>
                                            <h5 class="mt-2"><a
                                                    href="{% url 'moderator-portal:quiz' %}">{{ single_all }}</a></h5>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div>
                                            <h2 class="text-muted mb-0">
                                                <i class="fa fa-users"></i>
                                            </h2>
                                            <small>Team Quiz</small>
                                            <h5 class="mt-2"><a
                                                    href="{% url 'moderator-portal:quiz' %}">{{ team_all }}</a></h5>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div>
                                            <h2 class="text-muted mb-0">
                                                <i class="fa fa-book"></i>
                                            </h2>
                                            <small>Learnings</small>
                                            <h5 class="mt-2"><a
                                                    href="{% url 'moderator-portal:quiz' %}">{{ learning_all }}</a></h5>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div>
                                            <h2 class="text-muted mb-0">
                                                <i class="fa fa-question-circle text-danger"></i>
                                            </h2>
                                            <small>Questions</small>
                                            <h5 class="mb-0"><a
                                                    href="{% url 'moderator-portal:question' %}">{{ questions_all }}</a>
                                            </h5>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title mb-4">Quizzes</h4>

                    {% if quizzes %}
                        <div class="table-responsive">
                            <table class="table table-centered table-nowrap mb-0">
                                <thead class="thead-light">
                                <tr>
                                    <th>
                                        Quiz <br>
                                        <small>Details</small>
                                    </th>
                                    <th>
                                        Type
                                    </th>
                                    <th>
                                        Quiz <br>
                                        <small>Statistics</small>
                                    </th>
                                    <th>Subjects<br>
                                        <small>Assigned</small>
                                    </th>
                                    <th>Question</th>
                                    <th>Created On</th>
                                    <th>Actions</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for quiz in quizzes %}
                                    <tr>
                                        <td class="">
                                            <p class="mb-0">
                                                <a href="javascript: void(0);"
                                                   class="text-body font-weight-bold text-wrap">
                                                    {{ quiz.title }}
                                                </a><br>
                                                <a>
                                                    Players :
                                                    <b>
                                                        {% if quiz.players == '1' %}
                                                            {{ quiz.players }}
                                                        {% else %}
                                                            {{ quiz.players }}
                                                        {% endif %}
                                                    </b> |
                                                    Age : <b>{{ quiz.age_limit }}</b> |
                                                    Grade: <b>{{ quiz.grade }}</b>
                                                </a>
                                            </p>
                                        </td>
                                        <td>
                                            {% if quiz.learning_purpose %}
                                                <b class="text-success"><i class="fa fa-book"></i> Learning</b>

                                            {% else %}
                                                <b class="text-danger"><i class="fa fa-clock"></i> Quiz</b>
                                            {% endif %}
                                        </td>
                                        <td>
                                            Enrolled Teams <b>{{ quiz.total_enrolled_teams }}</b> <br>
                                            Enrolled Students <b>{{ quiz.total_enrolled_students }}</b>
                                        </td>
                                        <td class="text-wrap">

                                            {% for subject in quiz.subjects.all %}
                                                <span class="badge badge-pill badge-soft-success font-size-12">
                                                {{ subject }}
                                                </span>
                                            {% endfor %}
                                        </td>

                                        <td>
                                            {{ quiz.questions.all.count }}
                                        </td>
                                        <td>
                                            {{ quiz.created_at }}
                                        </td>
                                        <td>
                                            <a class="" href="{% url 'moderator-portal:quiz-update' quiz.pk %}">
                                                <i class="fa fa-edit"></i>
                                            </a>
                                        </td>
                                    </tr>
                                {% endfor %}

                                </tbody>
                            </table>
                        </div>
                    {% else %}
                        <p class="mb-0">
                            <b class="text-danger">You haven't created any quizzes yet.</b>
                        </p>
                    {% endif %}

                </div>
            </div>
        </div>
    </div>
    <p><b><a href="{% url 'moderator-portal:quiz' %}"> -- More Quizzes ? Click here.</a></b></p>

    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title mb-4">Questions</h4>
                    {% if questions %}
                        <div class="table-responsive">
                            <table class="table table-centered table-nowrap mb-0">
                                <thead class="thead-light">
                                <tr>
                                    <th>Question <br>
                                        <small>Details</small>
                                    </th>
                                    <th>Question <br>
                                        <small>Statistics</small>
                                    </th>
                                    <th>Level</th>
                                    <th>Subject</th>
                                    <th>Created On</th>
                                    <th>Actions</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for question in questions %}
                                    <tr>
                                        <td>
                                            <p class="mb-0">
                                                <a href="javascript: void(0);"
                                                   class="text-body font-weight-bold text-wrap">
                                                    {{ question.get_statement|truncatechars:35 }}
                                                </a><br>
                                                <a>
                                                    Players :
                                                    <b>
                                                        {{ question.question_type }}
                                                    </b> |
                                                    Age : <b>{{ question.age_limit }}</b> |
                                                    Grade: <b>{{ question.grade }}</b>
                                                </a>
                                            </p>
                                        </td>
                                        <td>
                                            <b class="text-dark">
                                                <i class="fa fa-clock"></i> Quizzes:
                                                {{ question.total_times_used_in_quizzes }}
                                            </b>
                                            <br>
                                            <b class="text-secondary">
                                                <i class="fa fa-book"></i> Learning:
                                                {{ question.total_times_used_in_learning }}
                                            </b>
                                        </td>
                                        <td>
                                            {% if question.level == 'e' %}
                                                <i class="fa fa-star text-warning"></i>
                                                <i class="fa fa-star text-secondary"></i>
                                                <i class="fa fa-star text-secondary"></i>
                                            {% elif question.level == 'n' %}
                                                <i class="fa fa-star text-warning"></i>
                                                <i class="fa fa-star text-warning"></i>
                                                <i class="fa fa-star text-secondary"></i>
                                            {% else %}
                                                <i class="fa fa-star text-warning"></i>
                                                <i class="fa fa-star text-warning"></i>
                                                <i class="fa fa-star text-warning"></i>
                                            {% endif %}
                                        </td>
                                        <td class="">
                                    <span class="badge badge-pill badge-soft-danger font-size-12">
                                        {{ question.subject }}
                                    </span>
                                        </td>
                                        <td>
                                            {{ question.created_at }}
                                        </td>
                                        <td>
                                            <a class="" href="{% url 'moderator-portal:question-update' question.pk %}">
                                                <i class="fa fa-edit"></i>
                                            </a>
                                        </td>
                                    </tr>
                                {% endfor %}

                                </tbody>
                            </table>
                        </div>
                    {% else %}
                        <p class="mb-0">
                            <b class="text-danger">You haven't created any questions yet.</b>
                        </p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <p><b><a href="{% url 'moderator-portal:question' %}"> -- More Questions ? Click here.</a></b></p>

{% endblock %}



